@import "../../../../constants";
@import "../../../../styles/sizes";

.container {
  max-width: 36.25rem;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin-bottom: 2.25rem;

  @include tablet {
    margin-bottom: 0;
  }
}
