@import "../../../../../../constants";

.resizer {
  flex-shrink: 0;
  z-index: 1;
  background: transparent;
  background-clip: padding-box;
  opacity: 0.2;
  box-sizing: border-box;

  &:hover {
    transition: all 2s ease;
  }

  &:global(.vertical) {
    width: 0.6875rem;
    margin: 0 -0.3125rem;
    border-left: 0.3125rem solid #{$split-view-resizer-border-color};
    border-right: 0.3125rem solid #{$split-view-resizer-border-color};
    cursor: col-resize;

    &:hover {
      border-left: 0.3125rem solid #{$split-view-resizer-border-hover-color};
      border-right: 0.3125rem solid #{$split-view-resizer-border-hover-color};
    }
  }
}
