@import "../../../constants";

.menu-button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $light-gray-4;
  color: $secondary-blue;

  &:hover {
    background-color: $purple-hover;
  }

  &.menu-button--with-border {
    border: 1px solid $light-gray-1;
  }
}

.menu-button__icon {
  width: 1.5rem;
  height: 1.5rem;
}
