@import "../../../../constants.scss";
@import "../../../../styles/sizes.scss";

.upload-prompt-wrapper {
  .upload-prompt-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: $black;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    backdrop-filter: blur(2px);
    .content {
      background-color: $white;
      box-shadow: $secondary-modal-shadow;
      border-radius: 1.875rem;
      padding: 3rem;
      width: 17.5rem;
      text-align: center;
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .pre-upload-wrapper {
        .pre-upload__title {
          font-size: $moderate-med;
        }
        .pre-upload__sub-title {
          font-family: NunitoSans-Regular;
          font-size: $xsmall;
          margin-top: 0.6rem;
          margin-bottom: 1.5rem;
        }
        .summary-wrapper {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .summary-item {
            display: flex;
            flex-direction: column;
            background-color: $light-gray-4;
            border-radius: 10px;
            text-align: center;
            padding: 10px;
            width: 115px;
            .summary-item__title {
              font-size: $xxsmall;
              font-family: NunitoSans-Regular;
              margin-bottom: 1rem;
            }
            .summary-item__value {
              font-size: $moderate-med;
            }
          }
        }
        textarea {
          resize: none;
          width: 100%;
          border-color: $light-gray-1;
          text-indent: 10px;
          padding: 10px 0;
          margin: 1rem 0;
        }
        .pre-upload-wrapper__cancel-button {
          margin-top: 1.5rem;

          @include big-phone {
            margin-top: 1rem;
          }
        }
      }
      .pending-upload-wrapper {
        align-items: inherit;
        span {
          color: $purple;
          margin-top: 1.5rem;
        }
      }
      .upload-success-wrapper {
        .upload-success__title {
          font-size: $moderate-med;
        }
        .upload-success__sub-text {
          font-family: NunitoSans-Regular;
          font-size: $xsmall;
          margin: 1rem 0;
        }
      }

      @include big-phone {
        margin-top: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      @include phone-portrait {
        width: 100%;
        padding: 2.5rem 1.5rem;
        box-sizing: border-box;
      }
    }
  }
}
