@import "../../../../../../../constants";
@import "../../../../../../../styles/sizes";

$bg-img: url("/assets/images/review-bg-image.jpg");

.create-common-review__slider {
  margin: 0 0 1.8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-common-review__slide {
  margin: 0;
  max-width: 36.5rem;
  max-height: 14rem;
}

.create-common-review__slide-img {
  width: 100%;
  height: 100%;
}

.create-common-review {
  width: 100%;
  max-width: 36.5rem;
  margin: 0 auto;
  padding-bottom: 2rem;

  .create-common-review__main-info-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .create-common-review__upload-cover-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 36.5rem;
    max-height: 14rem;
    margin-bottom: 1.8rem;
    background-image: $bg-img;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .create-common-review__select-file {
    margin: 1rem 1rem 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .create-common-review__title-and-arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
  }

  .create-common-review__arrow-icon {
    width: 2rem;
    height: 2rem;
    color: $white;
    margin: 0 1.5rem;
    cursor: pointer;
  }

  .create-common-review__arrow-icon-disable {
    width: 2rem;
    height: 2rem;
    color: $gray;
    margin: 0 1.5rem;
    cursor: pointer;
  }

  .create-common-review__cover-image-title {
    font-size: $xsmall;
    line-height: 1.43;
    color: $white;
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }

  .create-common-review__common-name {
    margin: 0;
    font-family: NotoSerifSC-Bold, serif;
    font-size: $moderate-small;
    font-weight: bold;
    line-height: 1.4;
  }

  .create-common-review__tagline {
    margin: 0.5rem 0 0;
    font-size: $small;
    line-height: 1.5;
  }

  .create-common-review__price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .create-common-review__minimum-contribution {
    margin-top: 0.375rem;
    font-family: NunitoSans-Bold, sans-serif;
    font-size: $moderate-med;
    font-weight: bold;
    line-height: 0.96;
  }

  .create-common-review__minimum-contribution-text {
    font-size: $small;
    line-height: 1.5;
    color: $light-gray-2;
  }

  .create-common-review__separator {
    margin: 1rem 0;
  }

  .create-common-review__section {
    margin-bottom: 1.25rem;
  }

  .create-common-review__section-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: NunitoSans-Bold, sans-serif;
    font-size: $moderate;
    font-weight: bold;
    line-height: 1.22;
  }

  .create-common-review__section-description {
    margin: 0;
    font-size: $xsmall;
    line-height: 1.42;
  }

  .create-common-review__link {
    display: flex;
    align-items: center;
    color: inherit;
  }

  .create-common-review__link-icon {
    flex-shrink: 0;
    margin-right: 0.5rem;
  }

  .create-common-review__rules {
    margin: 0 0 1.5rem 0;
  }

  .create-common-review__contribution-title {
    margin: 1.5rem 0 0;
    font-family: NunitoSans-Bold, sans-serif;
    font-size: $moderate;
    font-weight: bold;
    line-height: 1.22;
  }

  .create-common-review__contribution-text {
    margin: 0.5rem 0 0;
    font-size: $xsmall;
    line-height: 1.43;
  }

  .create-common-review__contribution-text--bold {
    font-weight: bold;
  }

  .create-common-review__additional-info-container {
    margin: 1.5rem 0 0;
    max-width: 36.375rem;
    max-height: 4.5rem;
    padding: 1rem 1.5rem;
    border-radius: 0.875rem;
    background-color: $black-gray-3;
  }

  .create-common-review__additional-info-text {
    font-size: $xsmall;
    line-height: 1.43;
    text-align: center;
    color: $blue-2;
  }

  .create-common-review__additional-info-text--bold {
    font-weight: bold;
  }
}

.create-common-review__modal-footer {
  display: flex;
  justify-content: center;
  padding: 1.75rem 0;

  @include big-phone {
    padding: 1.5rem 0;
  }
}
