@import "../../../../../../../styles/mixins";

.modal {
  max-width: 30rem;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  margin-left: auto;
}

.buttonsWrapper {
  @include flex-list-with-gap(1rem);

  margin-top: 0.75rem;
  flex-wrap: nowrap;
}
