@import "../../../../constants";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $c-neutrals-600;
}

.header {
  display: flex;
  overflow: hidden;
}

.commonImage {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 1rem;
  border-radius: 1.125rem;
}

.commonDetailsWrapper {
  overflow: hidden;
}

.commonName {
  margin: 0;
  font-family: Lexend, sans-serif;
  font-weight: normal;
  font-size: $large-1;
  line-height: 133%;
}

.description {
  margin: 0;
  font-size: $small;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rightHalf {
  display: flex;
  align-items: center;
}

.joinButton {
  margin-right: 0;
}
.joinButtonWithMargin {
  margin-right: 3rem;
}
