@import "../../../../../../constants";

.button {
  --btn-w: 3rem;
  background-color: $c-pink-active-feed-cards-light;
}

.icon {
  flex-shrink: 0;
  width: 1.375rem;
  height: 1.3125rem;
  color: transparent;
  transition: color 0.2s;
}
.iconFilled {
  color: $c-pink-primary;
}
