@import "../../../../../../../../../constants";

.container {
}

.button {
  --breadcrumbs-color: #{$c-gray-40};
  --breadcrumbs-bg-color: transparent;

  max-width: 17rem;
  padding: 0.375rem 0.75rem;
  font-family: PoppinsSans, sans-serif;
  font-size: $moderate-xsmall;
  font-weight: normal;
  color: var(--breadcrumbs-color);
  background-color: var(--breadcrumbs-bg-color);
  text-align: center;
  border: 0;
  border-radius: 0.3125rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s;
  box-sizing: border-box;

  &:hover {
    --breadcrumbs-color: #{$c-shades-black};
    --breadcrumbs-bg-color: #{$c-gray-20};
  }
}

.contextMenuList {
  --items-br: 0;

  width: 16.25rem;
}

.contextMenuItem {
  --item-border: 0;

  padding: 1rem 1.375rem 1rem 0.75rem;
  display: flex;
  align-items: center;
  font-size: $moderate-xsmall;
}
.contextMenuItemWithoutMembership {
  color: $c-gray-30;
}

.contextMenuItemImage {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.875rem;
}
.contextMenuItemImageNonRounded {
  border-radius: 0.375rem;
}
.contextMenuItemImageRounded {
  border-radius: 50%;
}

.contextMenuItemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contextMenuItemCheckIcon {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  color: $c-pink-mention;
}
