@import "../../../../constants";

.custom-radio-button-group {
  display: flex;
  flex-direction: column;
  font-family: NunitoSans-Regular, sans-serif;
  font-size: $xsmall;
  color: $secondary-blue;
  margin-bottom: 1rem;


  .custom-radio-button-group__label {
    margin-bottom: 8px;
    font-size: $xsmall;
    line-height: 1.42;
  }

  .custom-radio-button-group__buttons {
    width: 35%;
    justify-content: space-between;
    display: flex;
  }
  .custom-radio-button-group__buttons--vertical {
    flex-direction: column;
  }
}
