@import "../../../../../../../../constants";
@import "../../../../../../../../styles/sizes";

.create-common-review-image-slider {
  position: relative;
  display: flex;

  .create-common-review-image-slider__slide {
    display: flex;
  }

  .create-common-review-image-slider__image {
    width: 100%;
    height: 14rem;
    object-fit: cover;
  }

  .create-common-review-image-slider__arrow-wrapper {
    position: absolute;
    top: 50%;
    z-index: 2;
    color: $white;
    transform: translateY(-50%);

    &:disabled {
      color: $gray;
    }
  }

  .create-common-review-image-slider__left-arrow-wrapper {
    @extend .create-common-review-image-slider__arrow-wrapper;
    left: 1.5rem;

    @include big-phone {
      left: 1rem;
    }
  }

  .create-common-review-image-slider__right-arrow-wrapper {
    @extend .create-common-review-image-slider__arrow-wrapper;
    right: 1.5rem;

    @include big-phone {
      right: 1rem;
    }
  }

  .create-common-review-image-slider__arrow-icon {
    width: 2rem;
    height: 2rem;
  }

  .create-common-review-image-slider__gallery-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
  }
}
