@import "../../../../../../../../../../../constants";

.item {
  --item-bg-color: var(--tertiary-fill);
  --item-border: 0.0625rem solid var(--gentle-stroke);

  padding: 1.125rem 1.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text);
  background-color: var(--item-bg-color);
  border: var(--item-border);
  border-bottom: 0;
  font-family: PoppinsSans, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  box-sizing: border-box;

  &:first-child {
    border-top-left-radius: var(--items-br);
    border-top-right-radius: var(--items-br);
  }

  &:last-child {
    border-bottom: var(--item-border);
    border-bottom-left-radius: var(--items-br);
    border-bottom-right-radius: var(--items-br);
  }
}
.itemActive {
  --item-bg-color: var(--secondary-hover-fill);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  color: inherit;
}
