@import "../../../../constants";
@import "../../../../styles/sizes";

.container {
  min-height: 3.0625rem;
  max-height: 5rem;
  padding: 0.875rem 0.875rem 1.0625rem 1.5rem;
  display: flex;
  border-bottom: 0.0625rem solid var(--gentle-stroke);
  cursor: pointer;
  user-select: none;
  background-color: var(--feed-item-background);

  &:hover {
    background-color: var(--hover-fill);
    .lastMessage {
      background-color: var(--hover-fill);
    }
    .lastMessageActive {
      background-color: var(--quinary-fill);
    }
  }

  @include tablet {
    display: flex;
    flex-direction: row;
    &:hover {
      box-shadow: none;
    }
  }
}

.containerActive {
  background-color: var(--quinary-fill);

  &:hover {
    background-color: var(--quinary-fill);
  }
}

.containerExpanded {
  border: 0.0625rem solid var(--gentle-stroke);
  border-bottom: none;
}

.containerLongPressing {
  box-shadow: 0 0.1875rem 0.5rem #{$c-shades-neutrals-30};
  transition: box-shadow 0.4s;
}

.image {
  align-self: center;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  object-fit: cover;
  box-sizing: border-box;

  @include tablet {
    margin-right: 0.625rem;
  }
}
.imageNonRounded {
  border-radius: 0.375rem;
}
.imageRounded {
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.topContent {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $c-neutrals-300;
}

.bottomContent {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text {
  margin: 0;
  font-family: PoppinsSans, sans-serif;
  font-weight: normal;
}

.titleWrapper {
  display: flex;
  align-items: center;
  color: var(--primary-text);
  font-size: $moderate-xsmall;
  line-height: 1.5rem;
  overflow: hidden;

  & > * {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @include tablet {
    max-width: calc(100% - 3.125rem);
  }
}

.titleWrapperActive {
  color: var(--primary-text);
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.lastMessageContainer {
  overflow: hidden;
}

.lastMessage {
  max-height: 1.25rem;
  color: $c-neutrals-300;
  font-size: $mobile-title;
  line-height: 1.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  & > p {
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.lastMessageActive {
  color: var(--primary-text);
  background-color: var(--quinary-fill);
}

.mentionText {
  color: var(--primary-fill);
}

.messageCount {
  font-size: $small;
  line-height: 1.375rem;
  margin-left: 0.75rem;
}

.lastActivity {
  color: $c-neutrals-300;
  font-size: $xxsmall;
  font-weight: 300;
  text-align: right;
  word-break: normal;
}

.lastActivityActive {
  color: var(--primary-text);
}

.bottomContentRight {
  display: flex;
  margin-left: auto;
}

.tooltipTriggerContainer {
  display: inline-flex;
}

.tooltipContent {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  z-index: 3;
}
