@import "../../../constants.scss";

$modal-action-size: 32px;
$modal-background-color: $white;
$modal-border-radius: 12px;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  outline: 0;
  box-sizing: border-box;
  backdrop-filter: blur(2px);
}

.modal {
  background-color: $modal-background-color;
  z-index: 100;
  position: relative;
  max-width: 900px;
  max-height: 90vh;
  margin: 5vh auto;
  box-sizing: border-box;
  border-radius: $modal-border-radius;
  overflow-x: hidden;
  overflow-y: auto;

  &.discussions,
  &.proposals,
  &.history {
    max-width: $element-max-width;
  }

  .modal__header {
    position: relative;
    min-height: $modal-action-size;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 $modal-action-size;
  }

  .modal__title {
    margin: 0;
    font-family: NunitoSans-Bold, sans-serif;
    font-size: $small;
    font-weight: bold;
    line-height: 1.38;
    text-align: center;
    color: $secondary-blue;
  }

  .modal__action-wrapper {
    position: absolute;
    width: $modal-action-size;
    height: $modal-action-size;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }

  .modal__back-wrapper {
    left: 0;
  }
  .modal__back-action {
    width: 100%;
    height: 100%;
  }

  .modal__close-wrapper {
    right: 0;
  }

  .modal__footer {
    background-color: $modal-background-color;
    z-index: 1;
  }
  .modal__footer--fixed {
    position: fixed;
    right: 0;
    left: 0;
    border-bottom-left-radius: $modal-border-radius;
    border-bottom-right-radius: $modal-border-radius;
  }
  .modal__footer--shadowed {
    box-shadow: 0 2px 9px 0 $fixed-modal-element-shadow;
  }

  &.box {
    padding: 30px;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    &.join-effort {
      margin-top: 0;
    }

    &.mobile-full-screen {
      border-radius: unset;
      margin: unset;
      top: unset;
      transform: unset;
      overflow: scroll;
      max-height: 100vh;
      height: 100%;
    }
  }
}
