@import "../../../../../../../constants";
@import "../../../../../../../styles/sizes";

.create-common-funding {
  width: 100%;
  max-width: 584px;
  margin: 0 auto;
  padding-bottom: 32px;

  .create-common-funding__form {
    max-width: 376px;
    margin: 0 auto;
  }
}

.create-common-funding__modal-footer {
  display: flex;
  justify-content: center;
  padding: 28px 0;

  @include big-phone {
    padding: 24px 0;
  }
}
