@import "../../../../../constants";
@import "../../../../../styles/sizes";

.connect-wrapper {
  padding: 0.5rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: NunitoSans, sans-serif;

  .connect-wrapper__img {
    width: 12.5rem;
    height: 12.5rem;

    @include big-phone {
      width: 10rem;
      height: 10rem;
      margin-bottom: 2rem;
    }
  }

  .connect-wrapper__title {
    margin: 2.625rem 0 0.5rem;
    font-family: NotoSerif, serif;
    font-size: $moderate-med;
    font-weight: bold;
  }

  .connect-wrapper__sub-title {
    margin: 0 0 2.625rem;
    font-size: $small;
    color: $light-gray-2;
    text-align: center;

    @include big-phone {
      margin-bottom: 1rem;
      font-size: $xsmall;
    }
  }
  .connect-wrapper__sub-title--without-margin {
    margin: 0;
  }

  .connect-wrapper__error {
    margin: 0.5rem 0 1.5rem;
  }

  .connect-wrapper__sub-text {
    margin: 2.625rem 0 0;
    font-size: $xsmall;
    color: $light-gray-7;

    @include big-phone {
      margin-top: 2rem;
    }
  }

  .connect-wrapper__terms-of-use {
    font-weight: 600;
    color: $secondary-blue;
    text-decoration: none;
  }

  @include big-phone {
    padding-top: 0;
  }
}
