@import "../../../../../constants";
@import "../../../../../styles/sizes";

.connect-wrapper {
  padding: 0.5rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .connect-wrapper__img {
    width: 12.5rem;
    height: 12.5rem;

    @include big-phone {
      width: 10rem;
      height: 10rem;
      margin-bottom: 2rem;
    }
  }

  .connect__title {
    margin: 2.625rem 0 0.5rem;
    font-family: NotoSerif, serif;
    font-size: $moderate-med;
    font-weight: bold;
  }

  .connect__sub-title {
    margin: 0;
    font-size: $small;
    color: $light-gray-2;
    text-align: center;

    @include big-phone {
      font-size: $xsmall;
    }
  }

  .connect__sub-text {
    margin: 0;
    font-size: $xsmall;
    color: $light-gray-2;
  }

  .connect__terms-of-use {
    color: $secondary-blue;
    text-decoration: none;
  }

  @include big-phone {
    padding-top: 1rem;
  }
}
