@import "../../../../../constants.scss";

.about-name-wrapper {
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 3px 8px 0 #001a3614;
  background-color: $white;
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #001a36;
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .links {
    display: flex;
    flex-direction: column;
    a {
      font-size: 16px;
      font-weight: bold;
      color: #001a36;
      margin-bottom: 16px;
      vertical-align: middle;
      display: inline-block;
      &::before {
        background-image: url("/icons/link.svg");
        display: inline-block;
        content: " ";
        background-size: 15px 15px;
        height: 15px;
        width: 15px;
        margin-right: 8px;
      }
      &:hover {
        color: $purple;
      }
    }
  }
  .description {
    margin-bottom: 25px;
  }
  .join-wrapper {
    .contribution {
      font-size: 18px;
      color: #051c3f;
      margin-bottom: 32px;
    }
    .button-blue {
      width: 175px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .social-wrapper {
      width: 270px;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .about-name-wrapper {
    padding: 20px;
    box-shadow: none;
    background-color: transparent;
  }
}
