@import "../../../../../constants.scss";

.common-member-preview {
  height: fit-content;
  width: 100%;
  max-height: 35rem;
  max-width: 31.875rem;
}

.common-member-preview__container {
  display: flex;
  flex-direction: column;
  margin: -1rem 2rem 1rem;
}

.common-member-preview__container__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.75rem;
}

.common-member-preview__container__header__avatar {
  margin-right: 1.5rem;
  height: 5rem;
  width: 5rem;
}

.common-member-preview__container__header__user-info {
  margin-top: 1rem;
}

.common-member-preview__container__header__user-info__name {
  font-family: NunitoSans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: $moderate-small;
  color: $secondary-blue;
}

.common-member-preview__container__header__user-info__subtitle {
  font-family: NunitoSans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $xsmall;
  color: $light-gray-2;
}

.common-member-preview__container__header__user-info__country {
  margin-top: 0.75rem;
}

.common-member-preview__section-title {
  font-family: NunitoSans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: $small;
  color: $secondary-blue;
  margin: 1rem 0 0.5rem;
}

.common-member-preview__info {
  font-family: NunitoSans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $small;
  line-height: 20px;
  color: $secondary-blue;
}

.common-member-preview__common-name {
  @extend .common-member-preview__info;

  margin-bottom: 1.125rem;
}
