@import "../../../../constants";

.container {
  background-color: transparent;
  box-sizing: border-box;
}
.containerWithCardStyles {
  padding: 1.125rem 1.25rem;
  background-color: $c-shades-white;
}
