@import "../../../constants.scss";

.connect-button {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 3rem;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 6.8px 25.4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;

  .connect-button__img {
    width: 2.625rem;
    height: 2.625rem;
  }

  &:hover {
    background-color: $light-gray-1;
  }
}
