@import "../../../../../constants";
@import "../../../../../styles/sizes";

.dead-sea-general-info-wrapper {
  max-width: 36.125rem;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;

  @include big-phone {
    max-width: unset;
  }
}

.dead-sea-general-info-wrapper__back-button {
  height: 1.25rem;
  display: flex;
  align-items: center;
}

.dead-sea-general-info-wrapper__back-icon {
  margin-right: 0.75rem;
}

.dead-sea-general-info-wrapper__title {
  margin: 0 0 3.875rem;
  font-family: NotoSerifSC, serif;
  font-weight: 600;
  font-size: $large;
  line-height: 133%;

  @include big-phone {
    margin-bottom: 2rem;
  }
}

.dead-sea-general-info-wrapper__action {
  height: 1.25rem;
  letter-spacing: 0.01em;
}
