@import "../../../../../../../constants";

.parentItem {
  flex-shrink: 0;
  border-bottom: 0.06rem solid $c-light-gray;
}

.parentItemTrigger {
  overflow: unset;
}

.loader {
  margin: 1rem auto 0;
  display: block;
}
