@import "../../../../../../../constants";

.parentItem {
  flex-shrink: 0;
}

.parentItemTrigger {
  overflow: unset;
}

.addProjectItem {
  --item-text-color: #{$c-pink-primary};
}

.plusIcon {
  padding-right: 0.5rem;
}

.loader {
  margin: 1rem auto 0;
  display: block;
}
