@import "../../../../../../../constants";

.parentItem {
  flex-shrink: 0;
  border-bottom: 0.06rem solid $light-gray-3;
}

.parentItemTrigger {
  overflow: unset;
}

.addProjectItem {
  --item-text-color: #{$c-pink-primary};
}

.newProjectImage {
  background-color: $c-pink-dark;
}

.plusIcon {
  padding-right: 0.875rem;
}

.loader {
  margin: 1rem auto 0;
  display: block;
}
