@import "../../../../../constants";

.editor {
  --text-editor-h: auto;

  height: var(--text-editor-h);
  text-indent: 0.75rem;
  font-family: PoppinsSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--text-editor-elements-fs);
  line-height: 120%;
  color: $secondary-blue;
  overflow-y: auto;
  border: var(--text-editor-border);
  box-sizing: border-box;

  & [dir="rtl"] {
    font-family: Heebo, sans-serif;
  }

  &:focus {
    border-color: $c-pink-active-feed-cards;
  }
}

.editorSmallSize {
  --text-editor-h: 4.5rem;
}

.editorBigSize {
  --text-editor-h: 8.625rem;
}

.editorReadOnly {
  --text-editor-h: auto;

  padding: 0;
  overflow-y: unset;
}
