@import "../../../../../../../../../constants";

.itemsWrapper {
  position: absolute;
  top: 100%;
  left: var(--content-ph);
  right: var(--content-ph);
  margin: 0;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: $c-shades-white;
  border-radius: 0.375rem;
  box-shadow: 0.125rem 0.125rem 0.375rem #{$c-sidebar-shadow};
}

.item {
  --item-bg-color: transparent;

  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: inherit;
  background-color: var(--item-bg-color);
  border: 0;
  border-radius: 0.25rem;
  font-family: NunitoSans, sans-serif;
  font-size: $small;
  text-align: left;
  cursor: pointer;
}
.itemActive {
  --item-bg-color: #{$c-primary-200}99;
}
