@import "../../../../constants";
@import "../../../../styles/sizes";

.decline-submission-prompt-wrapper {
  max-width: 424px;

  .decline-submission-prompt-wrapper__buttons-wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }

  .decline-submission-prompt-wrapper__cancel-button {
    min-width: 152px;
    border: 1px solid $light-gray-1;
    background-color: $white;
    color: $secondary-blue;
  }

  .decline-submission-prompt-wrapper__decline-button {
    min-width: 152px;
    background-color: $red;
  }
}
