@import "../../../../constants";
@import "../../../../styles/sizes";

.dataErrorText {
  margin: 0;
}

.container {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include tablet {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.content {
  max-width: 36.5rem;
}

.backLink {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.backArrowIcon {
  flex-shrink: 0;
  margin-right: 0.75rem;
}

.title {
  margin: 0 0 0.875rem;
  font-family: Lexend, sans-serif;
  font-weight: normal;
  font-size: $large-1;
  line-height: 133%;
}

.subtitle {
  margin: 0 0 2.25rem;
  font-size: $small;
  line-height: 125%;
}
