@import "../../../../../../../../../constants";

.contextMenuList {
  --items-br: 0;

  width: 16.25rem;
  max-height: 23.625rem;
  overflow-y: auto;
}

.contextMenuItem {
  --item-border: 0;

  padding: 1rem 1.375rem 1rem 0.75rem;
  display: flex;
  align-items: center;
  font-size: $moderate-xsmall;
}
.contextMenuItemWithoutMembership {
  color: $c-gray-30;
}

.contextMenuItemImage {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.875rem;
}
.contextMenuItemImageNonRounded {
  border-radius: 0.375rem;
}
.contextMenuItemImageRounded {
  border-radius: 50%;
}

.contextMenuItemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contextMenuItemCheckIcon {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  color: $c-pink-mention;
}
