@import "../../../../../../../../constants";
@import "../../../../../../../../styles/sizes";

.title {
  margin: 0 0 0.375rem;
  font-size: $small;
  color: $c-neutrals-600;
  display: flex;
  align-items: center;

  @include tablet {
    margin-bottom: 1rem;
  }
  &.link {
    cursor: pointer;
  }
}

.description {
  max-width: 86%;
  margin: 0;
  font-size: $small;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: $c-neutrals-600;
}

.newTabIcon {
  margin-left: 0.5rem;
}
