@import "../../../../constants";
@import "../../../../styles/sizes";

$sticky-info-height: 4.75rem;
$sticky-info-mobile-height: 3.75rem;

.invoice-acceptance-container__sticky-info {
  height: 4.688rem;
  padding: 0 5rem;

  @include big-phone {
    height: 3.6875rem;
    padding: 0 1.25rem;
  }
}

.invoice-acceptance-container__back-link-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.invoice-acceptance-container__back-link {
  display: flex;
  align-items: center;
  font-family: NunitoSans-Bold, sans-serif;
  font-size: $moderate;
  font-weight: bold;
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.invoice-acceptance-container__left-arrow-icon {
  margin-right: .5rem;
}

.invoice-acceptance-container {
  padding-top: $sticky-info-height + 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .invoice-acceptance-container__loader-wrapper {
    display: flex;
  }

  .invoice-acceptance-container__title {
    margin-bottom: 2rem;
    font-family: NotoSerifSC-Bold, serif;
    font-size: $moderate;
    font-weight: bold;
    text-align: center;
    color: $secondary-blue;
  }

  .invoice-acceptance-container__invoices-section {
    max-width: 32.813rem;
    width: 100%;
    margin-top: 2rem;
  }

  .invoice-acceptance-container__invoices-header {
    display: flex;
    justify-content: space-between;
    font-family: NunitoSans-Bold, sans-serif;
    font-size: $moderate;
    font-weight: bold;
    color: $secondary-blue;
  }

  .invoice-acceptance-container__download-all-link {
    display: flex;
    align-items: center;
    font-size: $xxsmall;
  }

  .invoice-acceptance-container__no-uploaded-docs-text {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  @include big-phone {
    padding-top: $sticky-info-mobile-height + 1.75rem;
  }
}
