@import "../../../../../constants.scss";

.preview-information-wrapper {
  margin-bottom: 48px;
  .title-wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
    .title {
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #001a36;
      flex: 70;
    }
    .view-all {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: right;
      color: #001a36;
      flex: 30;
      cursor: pointer;
      position: relative;
      padding-right: 16px;
      &:hover {
        color: #7786ff;
        &::after {
          background-image: url("/icons/right-arrow-hover.svg");
        }
      }
      &::after {
        background-image: url("/icons/right-arrow.svg");
        display: inline-block;
        content: " ";
        background-size: 15px 15px;
        height: 15px;
        width: 15px;
        top: 4px;
        position: absolute;
        right: -4px;
      }
    }
  }
  .information-content {
    .item {
      height: 60px;
      padding: 16px;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #001a36;
      border-bottom: 1px solid $light-gray;
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;
      &:hover {
        background-color: $light-purple;
        &::after {
          content: "";
          width: 24px;
          height: 24px;
          background-image: url("/icons/right-arrow.svg");
          background-repeat: no-repeat;
          position: absolute;
          right: 5px;
          background-size: contain;
        }
      }
    }
  }
  .empty-information-wrapper {
    height: 214px;
    border-radius: 14px;
    background-color: $light-purple;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    .message {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: #001a36;
    }
    img {
      width: 130px;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .preview-information-wrapper{

  }
}
