@import "../../../../../constants.scss";

.votes-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .vote-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    &.approve {
      color: $green;
    }
    &.reject {
      color: $red;
    }
    &.abstain {
      color: $gray;
    }
    button {
      background-color: transparent;
      border: 1px solid $gray;
      border-radius: 20px;
      width: 6rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 4px 0 $shadow-1;
      cursor: pointer;
      &.compact {
        border: none;
        box-shadow: none;
        width: 4rem;
        height: unset;
      }
      &.disabled {
        pointer-events: none;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
