@import "../../../../../../constants.scss";

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.75rem;
  border-radius: 0.625rem;
  font-size: $xxsmall-2;
  font-weight: 600;
  color: $c-neutrals-100;
  height: 1.375rem;
}

.unreadMessages {
  min-width: 1.4375rem;
  background-color: $c-pink-primary;
}

.unreadMessagesLong {
  width: 1.9375rem;
}

.proposal {
  background-color: $light-gray-12;
  padding: 0 0.5rem;
}
