@import "../../../../../../constants";

.button {
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem;
  padding: 0.875rem 1.25rem;
}

.buttonText {
  margin: 0;
  font-size: $small;
  letter-spacing: 0.01em;
  line-height: 120%;
}

.approveText {
  color: $logo-1;
}
.approveButton {
  background-color: $success-100;
  box-shadow: $success-100-shadow;
}

.approveButton:hover {
  background-color: $success-100-hover;
}

.abstainText {
  color: $c-neutrals-300;
}

.abstainButton {
  background-color: $c-neutrals-100;
  box-shadow: $c-neutrals-100-shadow;
}

.abstainButton:hover {
  background-color: $c-neutrals-100-hover;
}

.rejectText {
  color: $c-error-300;
}

.rejectButton {
  background-color: $c-error-100;
  box-shadow: $c-error-100-shadow;
}

.rejectButton:hover {
  background-color: $c-error-100-hover;
}

.icon {
  flex-shrink: 0;
}
