@import "../../../../../../constants";

.button {
  display: flex;
  justify-content: space-between;
  border-radius: 0.3rem;
  padding: 0.875rem 1.25rem;
  background-color: transparent;
  border: 0.06rem solid;
}

.buttonText {
  margin: 0;
  font-size: $small;
  letter-spacing: 0.01em;
  line-height: 120%;
}

.approveText {
}
.approveButton {
  color: var(--primary-fill);
  border-color: var(--primary-fill);
}

.approveButton:hover {
}

.abstainText {
}

.abstainButton {
  color: var(--strong-gray);
  border-color: var(--strong-gray);
}

.abstainButton:hover {
}

.rejectText {
}

.rejectButton {
  color: var(--red);
  border-color: var(--red);
}

.rejectButton:hover {
}

.icon {
  flex-shrink: 0;
}
