@import "../../../../../../constants";

.button {
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem;
  padding: 0.9375rem 1.25rem;
}

.buttonText {
  font-size: $small;
  letter-spacing: 0.01em;
  line-height: 120%;
  margin-right: 3.625rem;
}

.approveText {
  color: $logo-1;
}
.approveButton {
  background-color: $success-100;
  box-shadow: $success-100-shadow;
}

.abstainText {
  color: $c-neutrals-300;
}

.abstainButton {
  background-color: $c-neutrals-100;
  box-shadow: $c-neutrals-100-shadow;
}

.rejectText {
  color: $error-300;
}

.rejectButton {
  background-color: $error-100;
  box-shadow: $error-100-shadow;
}


