@import "../../../constants.scss";

.header-wrapper {
  padding: 10px $content-padding;
  box-shadow: 0 3px 10px 0 $shadow;
  background-color: $white;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: $header-z-index;
  box-sizing: border-box;
  width: 100%;
  height: $header-height;

  .logo {
    height: 60px;
  }

  .navigation-wrapper {
    width: 100%;
    margin-left: 7.5rem;
    display: flex;
    .login-button {
      margin-left: auto;
      margin-right: 1.5rem;
    }
    button,
    a {
      text-decoration: none;
      font-size: 18px;
      color: $blue;
      margin-right: 50px;
      background-color: transparent;
      border: none;
      font-family: NunitoSans-Regular;
      cursor: pointer;
      &.active {
        font-weight: bold;
      }
    }
  }
  .mobile-links-container {
    margin-left: auto;
    white-space: nowrap;
  }
  &.init {
    top: -$header-height;
  }
  &.hide {
    animation: hideHeader .5s forwards;
  }
  &.show {
    animation: showHeader .5s forwards;
  }
  @keyframes showHeader {
    from {
      top: -$header-height;
    }
    to {
      top: 0;
    }
  }
  @keyframes hideHeader {
    to {
      top: -$header-height;
    }
  }
}

@media only screen and (max-width: $small-screen) {
  .header-wrapper {
    .mobile-links-container {
      display: none;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .header-wrapper {
    height: $header-height-mobile;
    padding: 10px $content-padding-mobile;
    flex-direction: row-reverse;
    .logo {
      height: 40px;
    }
    .humburger-menu,
    .common-logo {
      margin-right: auto;
      align-items: center;
      display: flex;
    }
    .humburger-menu:hover {
      cursor: pointer;
      opacity: 0.9;
    }
    .menu-wrapper {
      position: fixed;
      top: $header-height-mobile;
      width: 100%;
      background-color: $white;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      box-shadow: 0 10px 10px 0 $shadow;
      cursor: pointer;
    }
    .navigation-wrapper {
      flex-direction: column;
      align-items: center;
      margin-left: unset;
      width: 100%;
      button,
      a {
        margin-right: unset;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        &.active {
          background-color: $purple;
          color: $white;
        }
      }
      a:not(.active):hover {
        background-color: $light-purple;
      }
    }
  }
}
