@import "../../../../constants.scss";
@import "../../../../styles/sizes.scss";

.add-invoices-wrapper {
  input[type="file"] {
    display: none;
  }
  .invoices-container {
    display: flex;
    .add-invoice-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $light-gray-4;
      border-radius: 14px;
      width: 160px;
      height: 160px;
      cursor: pointer;
      margin-right: 5px;
      &:hover {
        opacity: .9;
      }
    }
  }

  .upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include big-phone {
    width: 100%;
    .invoices-container {
      flex-direction: column-reverse;
      .add-invoice-button {
        width: 100%;
      }
    }
  }
}
