@import "../../../../../constants";

.billing-change-payment-method {
  position: relative;
}

.billing-change-payment-method__loader-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.billing-change-payment-method__button-wrapper {
  padding: 0 1rem;
}
