@import "../../../../styles/sizes";

.container {
  --main-content-mw: 62%;

  flex: 1;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @include tablet {
    --main-content-mw: 100%;

    padding: 1.25rem 0;
  }
}
