@import "../../../../../constants";

.mainContent {
  width: 100%;
  max-height: 24rem;
  padding: 0.125rem 0.25rem 0;
  object-fit: cover;
  box-sizing: border-box;
}

.leftItem {
  margin-right: 0.15625rem;
  margin-left: 0;
}
