@import "../../../../../constants";

.mainContent {
  width: 14.9375rem;
  max-height: 7.375rem;
  height: 7.375rem;
  padding: 0.125rem 0.25rem 0;
  object-fit: cover;
}

.leftItem {
  margin-right: 0.15625rem;
  margin-left: 0;
}
