@import "../../../../constants";
@import "../../../../styles/sizes";

.invoices-approval-wrapper {
  padding-top: 32px;
  color: $secondary-blue;

  .invoices-approval-wrapper__no-proposals {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .invoices-approval-wrapper__items {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  .invoices-approval-wrapper__item {
    padding: 32px 0;
    border-bottom: 1px solid $light-gray-1;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  .invoices-approval-wrapper__file-preview-top-wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .invoices-approval-wrapper__file-preview-close-icon {
    margin-left: auto;
    padding: 10px;
    border-radius: 100%;
    background-color: $black-gray;

    &:hover {
      opacity: 0.8;
    }
  }
}
