@import "../../../constants";

.container {
  position: relative;
  display: flex;
  cursor: pointer;
}

.linkWrapper {
  display: flex;
}

.iconContainer {
  background-color: $c-light-gray;
}

.fileExtension {
  position: absolute;
  background-color: $c-neutrals-300;
  text-transform: uppercase;
}

.fileExtensionSmall {
  left: 3.125rem;
  bottom: 1.375rem;
  max-height: 1rem;
  font-size: $mobile-title;
  line-height: 1rem;
  font-weight: 700;
  padding: 0 0.3125rem;
}

.fileExtensionMedium {
  bottom: 1.6775rem;
  left: 4rem;
  max-height: 1.375rem;
  font-size: $moderate-small-2;
  line-height: 1.125rem;
  font-weight: 700;
  padding: 0.0625rem 0.40625rem 0.125rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &:hover {
    background-color: $black-gray-4;
  }
}