@import "../../../../styles/sizes";

.layoutPageContent {
  border: 0;
}

.content {
  --chat-w: 0rem;

  padding: 1rem 1.5rem 0;

  & > * {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.desktopChat {
  right: var(--sb-h-indent);
  width: var(--chat-w, 22rem);
  border-right: 0.0625rem solid $c-neutrals-200;
}
