@import "../../../../styles/sizes";

.content {
  flex: 1;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  overflow-anchor: none;

  & > * {
    margin-bottom: 0;
  }
}

.contentCentered {
  align-items: center;
  justify-content: center;
}

.emptyText {
  margin: 0;
  font-weight: 500;
  font-size: $moderate-xsmall;
  text-align: center;
  color: $c-neutrals-600;
}

.desktopRightPane {
  right: calc(var(--page-extra-pr) + var(--sb-h-indent));
  width: var(--chat-w, 22rem);
  border-right: 0.0625rem solid $c-light-gray;
}

.feedItemDetailsModal {
  border-radius: 0;
  box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.07);

  .feedItemDetailsModalWrapper {
    .feedItemDetailsModalHeader {
      margin-left: -0.875rem;
      margin-right: -1.1875rem;
    }
  }

  .feedItemDetailsContent {
    padding-left: 1.875rem;
    padding-right: 2.1875rem;
    min-height: 18.75rem;
  }
}

.feedItemDetailsModalWrapper {
  backdrop-filter: unset;
  -webkit-backdrop-filter: unset;
}

.feedItemDetailsModalOverlay {
  background-color: unset;
}
