@import "../../../../styles/sizes";

.content {
  --chat-w: 0rem;

  padding: 0 calc(var(--chat-w) + 1.5rem) 0 1.5rem;

  & > * {
    margin-bottom: 0rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.contentWithChat {
  --chat-w: 49.5rem;

  @include viewport-breakpoint(1800px) {
    --chat-w: 40rem;
  }

  @include viewport-breakpoint(1620px) {
    --chat-w: 33rem;
  }

  @include viewport-breakpoint(1460px) {
    --chat-w: 27rem;
  }

  @include viewport-breakpoint(1360px) {
    --chat-w: 22rem;
  }

  @include viewport-breakpoint(1270px) {
    --chat-w: 27rem;
  }

  @include viewport-breakpoint(1180px) {
    --chat-w: 24rem;
  }

  @include tablet {
    --chat-w: 0rem;
  }
}

.desktopChat {
  right: var(--sb-h-indent);
  width: var(--chat-w, 22rem);
  border-right: 0.0625rem solid $c-neutrals-200;
}

.feedItemDetailsModal {
  border-radius: 0;
  box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.07);


  .feedItemDetailsModalWrapper {
    .feedItemDetailsModalHeader {
      margin-left: -0.875rem;
      margin-right: -1.1875rem;
    }
  }
  
  .feedItemDetailsContent {
    padding-left: 1.875rem;
    padding-right: 2.1875rem;
    min-height: 18.75rem;
  }
}

.feedItemDetailsModalWrapper {
  backdrop-filter: unset;
  -webkit-backdrop-filter: unset;
}

.feedItemDetailsModalOverlay {
  background-color: unset;
}
