@import "../../../constants";
@import "../../../styles/mixins";
@import "../../../styles/sizes";

.footer {
  flex-shrink: 0;
  z-index: var(--footer-z-index, unset);
  display: flex;
  font-family: NunitoSans, sans-serif;
  font-size: $xxsmall;
  color: $c-neutrals-300;
  background-color: $c-notification-100;
  border-top: 0.0625rem solid $c-neutrals-200;
  box-sizing: border-box;
  overflow: hidden;
}
.footerDefault {
  height: var(--footer-height, 4.625rem);
  padding-left: 8.125rem;
  padding-right: 7.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footerSmall {
  height: var(--footer-height, 4.25rem);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.commonLogo {
  flex-shrink: 0;
  height: 1.5rem;
}

.content {
  @include flex-list-with-gap(1rem);

  align-items: center;
}

.poweredByInfo {
  display: flex;
  align-items: center;
}

.daoStackLogo {
  margin: 0 0.375rem;
}

.copyrightInfo {
  display: flex;
  align-items: center;
  font-weight: 300;
}
