@import "../../../../../../../../../constants";

.item {
  --bg-color: #{$c-shades-white};
  --item-pl-per-level: 1.125rem;
  --item-arrow-pl: var(--item-pl-per-level);
  --item-image-mr: 0.5rem;
  --item-text-color: #{$c-neutrals-600};

  height: 2.75rem;
  padding-left: calc(var(--item-pl-per-level) * (var(--tree-level, 1) - 1));
  padding-right: 0.875rem;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 0.25rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s;
  overflow: hidden;

  &:hover {
    --bg-color: #{$c-primary-100};
  }
}
.itemActive {
  --bg-color: #{$c-primary-200}99;
  --item-text-color: #{$white};

  &:hover {
    --bg-color: #{$c-primary-200}99;
  }
}
.itemWithoutMembership {
  --item-text-color: #{$c-neutrals-300};
}

.arrowIconButton {
  padding: 0.75rem 0.625rem 0.75rem var(--item-arrow-pl);
}
.arrowIconButtonHidden {
  visibility: hidden;
}

.arrowIcon {
  color: $c-neutrals-600;
  transition: transform 0.2s;
}

.arrowIconOpen {
  transform: rotate(90deg);
}

.image {
  flex-shrink: 0;
  margin-right: var(--item-image-mr);
  width: 1.25rem;
  height: 1.25rem;
  object-fit: cover;
}
.imageNonRounded {
  border-radius: 0.1875rem;
}
.imageRounded {
  border-radius: 50%;
}

.name {
  font-family: PoppinsSans, sans-serif;
  font-weight: 600;
  font-size: $small;
  color: var(--item-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nameActive {
  color: $white;
}

.notificationsAmount {
  height: 1rem;
  margin-left: auto;
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: $xxsmall-2;
  color: $c-shades-white;
  background-color: $c-primary-400;
  border-radius: 0.5rem;
}
