@import "../../../constants";
@import "../../../styles/sizes";

.delete-prompt__wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 11;
  background-color: $white;
  align-items: center;
  box-shadow: $secondary-modal-shadow;
  border-radius: 30px;
  padding: 45px;

  .delete-prompt__buttons-wrapper {
    display: flex;
    margin-top: 3.5rem;

    button {
      font-family: NunitoSans-Regular;
      font-weight: 100;
      min-width: 9.5rem;

      &.delete {
        background-color: $red;
        color: $white;
        margin-left: 1.5rem;
      }
    }
  }
}

@include big-phone {
  .delete-prompt__wrapper {
    transform: translate(-50%, -100%);
    top: 100%;
    padding: 15px;
    border-radius: 50px 50px 0 0;
    width: 100%;

    .delete-prompt__title {
      margin-top: 15px;
    }

    .delete-prompt__buttons-wrapper {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }
}
