@import "../../../../constants";
@import "../../../../styles/sizes";

$cards-v-gap: 2rem;
$cards-h-gap: 1.5rem;

.invoice-list-wrapper {
  margin-bottom: 2rem;

  .invoice-list-wrapper__title {
    margin: 0 0 2rem;
    font-family: NunitoSans-Bold, sans-serif;
  }

  .invoice-list-wrapper__empty-text {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .invoice-list-wrapper__cards {
    width: calc(100% + #{$cards-h-gap});
    margin: -#{$cards-v-gap} 0 0 -#{$cards-h-gap};
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .invoice-list-wrapper__card-wrapper {
    margin: $cards-v-gap 0 0 $cards-h-gap;
    max-width: 384px;
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
