@import "../../../../constants";
@import "../../../../styles/sizes";

.my-account-activities {
  width: 100%;

  .my-account-activities__header {
    margin-bottom: 2.5rem;
    font-family: NunitoSans, sans-serif;
    font-weight: bold;
    font-size: $moderate-med;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .my-account-activities__summaries {
      max-width: 19rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $white;
    }
  }

  .my-account-activities__content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > section:not(:last-child) {
      margin-bottom: 3.125rem;
    }

    .my-account-activities__section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .my-account-activities__section-viewall {
        display: flex;
        cursor: pointer;
        color: $black;
        text-decoration: none;

        &.hidden {
          visibility: hidden;
        }
      }
    }

    .my-account-activities__section-list {
      display: grid;
      justify-items: center;
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    }
  }
}

@include big-phone {
  .my-account-activities {
    margin-bottom: 0.75rem;

    .my-account-activities__header {
      flex-direction: column;
      height: 11rem;

      .route-title {
        align-self: flex-start;
      }

      .my-account-activities__summaries {
        max-width: 100%;
      }
    }

    .my-account-activities__content-wrapper {
      > section:not(:last-child) {
        margin-bottom: 1.25rem;
      }

      > section h3 {
        font-size: $small;
      }

      .my-account-activities__section-list {
        grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
      }
    }

    .swiper-container {
      &.commons-list {
        height: 20.25rem;
      }
      &.proposals-list {
        height: 16.125rem;
      }
      &.membership-requests-list {
        height: 15rem;
      }

      .swiper-slide {
        max-width: 18.75rem;
      }
    }
  }
}

.my-account-activities__detail-modal-header-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
}
