@import "../../../../constants";
@import "../../../../styles/sizes";

.landing {
  margin: 0px -#{$content-padding} -#{$content-padding-bottom};
  color: $secondary-blue;

  @include big-phone {
    margin: 0px -#{$content-padding-mobile} -#{$content-padding-bottom};
  }
}

.landing__main-info-wrapper {
  position: relative;
}

.landing__video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__video {
  width: 100%;
  max-height: 37.125rem;
  height: 100%;
  object-fit: cover;
}

.landing__main-info {
  position: absolute;
  bottom: 8.125rem;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateX(-50%);
}

.landing__main-info-title {
  margin: 0;
  font-family: NotoSerifSC, serif;
  font-weight: 600;
  font-size: $large;
  line-height: 133%;
}

.landing__main-info-description {
  margin: 0.875rem 0 4.125rem;
  font-size: $moderate-small;
  line-height: 120%;
}
