@import "../../../../constants";
@import "../../../../styles/sizes";

.landing {
  margin: 0px -#{$content-padding} -#{$content-padding-bottom};
  color: $secondary-blue;

  @include big-phone {
    margin: 0px -#{$content-padding-mobile} -#{$content-padding-bottom};
  }
}
