@import "../../../constants.scss";

 .connect-button {
   width: 380px;
   height: 56px;
   background: transparent;
   border-radius: 28px;
   border-color: $blue;
   font-family: NunitoSans-Regular;
   display: flex;
   align-items: center;
   font-size: $small;
   cursor: pointer;
   margin-bottom: 1rem;
   > img {
     margin-right: auto;
   }
   > span {
     margin-right: auto;
   }
   &:hover {
     background-color: $light-gray-1;
   }
 }

 @media only screen and (max-width: $mobile-breakpoint) {
   .connect-button {
     width: 100%;
   }
 }
 