@import "../../../../../constants";

.my-proposals {
  width: 100%;
  margin-left: 2%;
  padding: 2.5rem 0;

  .my-proposals_header {
    display: flex;
    justify-content: flex-start;

    > a {
      display: flex;
      text-decoration: none;
      color: $black;
      cursor: pointer;
      font-size: $moderate-med;
      font-family: NunitoSans, sans-serif;
      font-weight: bold;
    }
  }

  .my-proposals_proposals-list {
    display: grid;
    justify-items: center;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .my-proposals {
    padding: 0.9rem 0 1.5rem 0;
  }
}

.my-proposals__detail-modal-header-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
}
