@import "../../../../../constants";

.billing-contribution-list-item {
  border-bottom: 1px solid $light-gray-1;

  &:last-child {
    border-bottom: 0;
  }
}

.billing-contribution-list-item__link {
  height: 5rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  font-family: NunitoSans, sans-serif;
  font-size: $xsmall;
  color: $secondary-blue;
  box-sizing: border-box;

  &:hover {
    text-decoration: none;
  }
}

.billing-contribution-list-item__title-wrapper,
.billing-contribution-list-item__status-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.billing-contribution-list-item__title {
  margin: 0;
  font-size: $small;
  font-weight: 600;
}

.billing-contribution-list-item__description {
  margin: 0;
  font-size: inherit;
}

.billing-contribution-list-item__status-container {
  display: flex;
  align-items: center;
}

.billing-contribution-list-item__status-wrapper {
  align-items: flex-end;
}
.billing-contribution-list-item__status-wrapper--centered {
  justify-content: center;
}

.billing-contribution-list-item__status {
  color: $green;
}
.billing-contribution-list-item__status--failed {
  color: $red;
}

.billing-contribution-list-item__right-arrow-icon {
  margin-left: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}
