$nunitoSansFontName: "NunitoSans";
$notoSerifSCFontName: "NotoSerifSC";
$assistantFontName: "Assistant";
$heeboFontName: "Heebo";
$lexendFontName: "Lexend";

$trueTypeFontFormat: "truetype";
$openTypeFontFormat: "opentype";

// NunitoSans
@font-face {
  font-family: $nunitoSansFontName;
  src: local($nunitoSansFontName),
    url("/shared/assets/fonts/NunitoSans-Regular.ttf")
      format($trueTypeFontFormat);
  font-weight: normal;
}

@font-face {
  font-family: $nunitoSansFontName;
  src: local($nunitoSansFontName),
    url("/shared/assets/fonts/NunitoSans-Italic.ttf")
      format($trueTypeFontFormat);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: $nunitoSansFontName;
  src: local($nunitoSansFontName),
    url("/shared/assets/fonts/NunitoSans-SemiBold.ttf")
      format($trueTypeFontFormat);
  font-weight: 600;
}

@font-face {
  font-family: $nunitoSansFontName;
  src: local($nunitoSansFontName),
    url("/shared/assets/fonts/NunitoSans-Bold.ttf") format($trueTypeFontFormat);
  font-weight: bold;
}

@font-face {
  font-family: $nunitoSansFontName;
  src: local($nunitoSansFontName),
    url("/shared/assets/fonts/NunitoSans-ExtraBold.ttf")
      format($trueTypeFontFormat);
  font-weight: 800;
}

// NotoSerifSC
@font-face {
  font-family: $notoSerifSCFontName;
  src: local($notoSerifSCFontName),
    url("/shared/assets/fonts/NotoSerifSC-SemiBold.otf")
      format($openTypeFontFormat);
  font-weight: 600;
}

@font-face {
  font-family: $notoSerifSCFontName;
  src: local($notoSerifSCFontName),
    url("/shared/assets/fonts/NotoSerifSC-Bold.otf") format($openTypeFontFormat);
  font-weight: bold;
}

@font-face {
  font-family: $notoSerifSCFontName;
  src: local($notoSerifSCFontName),
    url("/shared/assets/fonts/NotoSerifSC-Black.otf")
      format($openTypeFontFormat);
  font-weight: 900;
}

// Assistant
@font-face {
  font-family: $assistantFontName;
  src: local($assistantFontName),
    url("/shared/assets/fonts/Assistant-Light.ttf") format($trueTypeFontFormat);
  font-weight: 300;
}

@font-face {
  font-family: $assistantFontName;
  src: local($assistantFontName),
    url("/shared/assets/fonts/Assistant-Bold.ttf") format($trueTypeFontFormat);
  font-weight: bold;
}

// Heebo
@font-face {
  font-family: $heeboFontName;
  src: local($heeboFontName),
    url("/shared/assets/fonts/Heebo-Regular.ttf") format($trueTypeFontFormat);
  font-weight: normal;
}

@font-face {
  font-family: $heeboFontName;
  src: local($heeboFontName),
    url("/shared/assets/fonts/Heebo-Medium.ttf") format($trueTypeFontFormat);
  font-weight: 500;
}

@font-face {
  font-family: $heeboFontName;
  src: local($heeboFontName),
    url("/shared/assets/fonts/Heebo-Bold.ttf") format($trueTypeFontFormat);
  font-weight: bold;
}

// Lexend
@font-face {
  font-family: $lexendFontName;
  src: local($lexendFontName),
    url("/shared/assets/fonts/Lexend-Regular.ttf") format($trueTypeFontFormat);
  font-weight: normal;
}
