:root[data-theme="light"] {
  --primary-fill: #c32ea3;
  --secondary-fill: #a75a93;
  --gentle-fill: #f3d4eb;
  --hover-fill: #fff3fc;
  --gentle-gray: #f4f5f5;
  --medium-gray: #dcdee7;
  --strong-gray: #7a819c;
  --gray-60: #6b718e;
  --red: #ff603e;

  --white-text: #ffffff;
}

:root[data-theme="dark"] {
}
