:root[data-theme="light"] {
  --primary-background: #ffffff;
  --secondary-background: #f8f8f5;
  --hover-fill: #fff9fd;
  --secondary-hover-fill: #fff9fd;
  --primary-text: #001a36;
  --secondary-text: #a75a93;
  --gentle-stroke: #f4f5f5;
  --warning: #ff603e;
  --primary-fill: #c32ea3;
  --secondary-fill: #f3d4eb;
  --tertiary-fill: #ffffff;
  --drop-shadow: rgba(0, 0, 0, 0.15259);
}

:root[data-theme="dark"] {
  --primary-background: #1f2535;
  --secondary-background: #2e3452;
  --hover-fill: #131b23;
  --secondary-hover-fill: #2e3452;
  --primary-text: #ffffff;
  --secondary-text: #a75a93;
  --gentle-stroke: #2e3452;
  --warning: #ff603e;
  --primary-fill: #c32ea3;
  --secondary-fill: #743b65;
  --tertiary-fill: #131b23;
  --drop-shadow: rgba(0, 0, 0, 0.15259);
}
