@import "../constants";

@mixin h5 {
  font-family: PoppinsSans, sans-serif;
  font-weight: normal;
  font-size: $moderate-small-2;
  line-height: 1.25rem;
  color: $c-gray-90;
  text-align: center;
}

@mixin h6 {
  font-family: PoppinsSans, sans-serif;
  font-weight: 500;
  font-size: $moderate-xsmall;
  line-height: 1.5rem;
  color: $c-gray-100;
  text-align: center;
}

@mixin body-sm-regular {
  font-family: PoppinsSans, sans-serif;
  font-weight: normal;
  font-size: $mobile-title;
  line-height: 1.25rem;
  color: $c-gray-50;
  text-align: center;
}
