@import "../../../../../constants";

.billing-payment-information__payment-method {
  padding: 1.5rem 1rem;
  background-color: $white;
  border: 1px solid $light-gray-1;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
