@import "../../../constants";

.tutorial-modal {
  height: 100%;
  max-height: 650px;
  width: 100%;
  max-width: 840px;
}

.tutorial-modal__header {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: -1rem;
  line-height: 29px;
}

.tutorial-modal__text {
  font-size: 14px;
}

.tutorial-modal__container {
  position: relative;
}

.tutorial-modal__container__video {
  width: 100%;
  height: fit-content;
  border-radius: 4px;
}

.tutorial-modal__container__play-button-container {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  z-index: 10000;
  box-shadow: 0px 3px 8px $shadow-2;
}

.tutorial-modal__container__play-button-container__icon {
  position: absolute;
  height: 33px;
  width: 36px;
  left: calc(50% + 3px);
  top: 50%;
  transform: translate(-50%, -50%);
}