@import "../../../../../../../../constants";
@import "../../../../../../../../styles/sizes";

.container {
  width: 100%;
  height: $container-mobile-header-height;
  padding-left: 1rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  background-color: var(--primary-background);
  border-bottom: 0.0625rem solid $c-light-gray;
  box-sizing: border-box;
}

.openSidenavIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.625rem;
  transform: rotate(180deg);
  color: $c-neutrals-600;
}

.userAvatar {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.titleWrapper {
  margin: 0;
  overflow: hidden;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rightContent {
  margin-left: auto;
  padding-left: 0.5rem;
}
