@import "../../../../../constants";

.links-array {
  .links-array__title-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .links-array__title-input--without-bottom-border {
    border-bottom: 0;
  }

  .links-array__title-error {
    display: none;
  }

  .links-array__link-input {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .links-array__link-input--without-top-border {
    border-top: 0;
  }

  .links-array__add-button {
    margin-top: 16px;
  }
}
