@import "../../../../../constants";
@import "../../../../../styles/sizes";

.contact-us-contact-us-form {
  .contact-us-contact-us-form__text-field {
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .contact-us-contact-us-form__label {
    font-size: $xsmall;
  }

  .contact-us-contact-us-form__input {
    border: 1px solid $light-gray-3;
    border-radius: 0;
  }

  .contact-us-contact-us-form__textarea {
    height: 5.375rem;
  }

  .contact-us-contact-us-form__submit-button {
    margin-top: 2.625rem;
  }

  .contact-us-contact-us-form__support-email-wrapper {
    width: 100%;
    margin-top: 1.75rem;
    display: inline-block;
    font-weight: bold;
    font-size: $xsmall;
    text-align: center;
  }

  .contact-us-contact-us-form__support-email {
    color: $purple;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @include big-phone {
      text-decoration: underline;
    }
  }
}
