@import "../../../../../constants.scss";

.about-name-wrapper {
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 3px 8px 0 #001a3614;
  background-color: $white;

  .about-name-wrapper__see-more {
    width: 100%;
    margin: 1.75rem 0;
    display: inline-block;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .about-name-wrapper__description-part {
    margin: 0 0 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    color: #001a36;
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .links {
    display: flex;
    flex-direction: column;
    a {
      font-size: 16px;
      font-weight: bold;
      color: #001a36;
      margin-bottom: 16px;
      vertical-align: middle;
      display: inline-block;
      &::before {
        background-image: url("/icons/link.svg");
        display: inline-block;
        content: " ";
        background-size: 15px 15px;
        height: 15px;
        width: 15px;
        margin-right: 8px;
      }
      &:hover {
        color: $purple;
      }
    }
  }
  .description {
    overflow-wrap: break-word;
  }
  .join-wrapper {
    .button-blue {
      width: 175px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
    .social-wrapper {
      width: 270px;
    }
  }
  .see-more-button {
    font-family: NunitoSans-Regular;
    color: gray;
    text-align: right;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .about-name-wrapper {
    padding: 20px;
    padding-left: unset;
    padding-right: unset;
    box-shadow: none;
    background-color: transparent;
  }
}
