@import "../../../constants.scss";

.header-wrapper {
  padding: 10px $content-padding;
  box-shadow: 0 3px 10px 0 #001a3614;
  background-color: $white;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;

  .navigation-wrapper {
    margin-left: 50px;
    display: flex;
    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      color: #001a36;
      margin-right: 50px;
      &.active {
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .header-wrapper {
    .humburger-menu,
    .common-logo {
      margin-right: auto;
    }
    padding: 10px $content-padding-mobile;
    flex-direction: row-reverse;
  }
}
