@import "../../../constants.scss";

.header-wrapper {
  height: 80px;
  margin: 0 0 72px;
  padding: 10px $content-padding;
  box-shadow: 0 3px 10px 0 #001a3614;
  background-color: $white;
  display: flex;
  align-items: center;

  .navigation-wrapper {
    margin-left: 50px;
    display: flex;
    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      color: #001a36;
      &.active {
        font-weight: bold;
      }
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .header-wrapper {
    padding: 10px $content-padding-mobile;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
