@import "../../../../../../../constants";
@import "../../../../../../../styles/sizes";

.assign-circle-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.assign-circle-success__image {
  width: 16rem;
  margin-bottom: 1rem;
}

.assign-circle-success__title {
  margin: 0;
  font-family: NotoSerifSC, serif;
  font-size: $moderate-med;
  letter-spacing: 0.02em;
}

.assign-circle-success__description {
  max-width: 24.875rem;
  margin: 1rem 0 0;
  font-size: $small;
  line-height: 125%;
}

.assign-circle-success__buttons-wrapper {
  max-width: 23rem;
  width: 100%;
  margin-top: 2.25rem;
  padding-bottom: 2.125rem;
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
