@import "../../../../../constants";

.my-membership-requests {
  width: 100%;
  margin-left: 2%;
  padding: 40px 0;

  .my-membership-requests_header {
    display: flex;
    justify-content: flex-start;

    > a {
      display: flex;
      text-decoration: none;
      color: $black;
      cursor: pointer;
      font-size: $moderate-med;
      font-family: NunitoSans-Bold, sans-serif;
    }
  }

  .my-membership-requests_proposals-list {
    display: grid;
    justify-items: center;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.my-membership-requests__detail-modal-header-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
}
