.common-list-wrapper {
  .common-list {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .loading {
    text-align: center;
    display: flex;
    width: 155px;
    align-items: center;
    margin: 30px auto 0;
    height: 32px;
  }
}
