@import "../../../../constants.scss";

.common-list-wrapper {
  padding-top: 20px;
  .common-list {
    display: grid;
    justify-items: center;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .loader-container {
    line-height: 40px;
    margin-top: 40px;
    .loading-btn {
      margin: auto;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {

}
