@import "../../../../../../../../../constants";

.item {
  --item-pl: 1rem;
  --item-pr: 0.625rem;
  --item-color: #{$c-neutrals-600};
  --item-bg-color: transparent;

  padding: 0.625rem var(--item-pr) 0.625rem var(--item-pl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: NunitoSans, sans-serif;
  font-weight: 600;
  font-size: $small;
  color: var(--item-color);
  text-decoration: none;
  background-color: var(--item-bg-color);
  border-radius: 0.25rem;
  transition: background-color 0.2s;

  &:hover {
    --item-bg-color: #{$c-primary-200}99;
  }
}
.itemDisabled {
  --item-color: #{$c-neutrals-300};

  cursor: not-allowed;
}

.icon {
  flex-shrink: 0;
}
