@import "../../../../../constants";

.my-account-mobile-billing {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.my-account-mobile-billing__tabs-wrapper {
  padding: 0 $content-padding-mobile;
  margin: 0 -#{$content-padding-mobile};
  white-space: nowrap;
  border-bottom: 1px solid $light-gray-1;
}

.my-account-mobile-billing__tab-panels {
  height: 100%;
}

.my-account-mobile-billing__tab-panel {
  height: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.my-account-mobile-billing__contributions-tab-panel {
  margin: 0 -#{$content-padding-mobile};
}
