@import "../../../../constants";
@import "../../../../styles/sizes";

.actionButtonsWrapper {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
