@import "../../../../constants.scss";
@import "../../../../styles/sizes";

.wrapper {
  padding: 0.5rem 1rem;
  border-radius: 0.875rem;
  background-color: $c-chat-message;
  flex-direction: row;
  max-width: 85%;
  min-width: 30%;
  box-sizing: border-box;
  margin-left: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.status {
  font-size: $xxxsmall;
  font-weight: bold;
  color: $light-gray-2;
  text-align: left;
  margin-top: 0.6875rem;
  &.failed {
    background-color: $light-gray-2;
  }
}
