.messageText {
  padding: 0.5rem 1rem;
  border-radius: 0.875rem;
  background-color: gray;
  flex-direction: row;
  max-width: 85%;
  min-width: 30%;
  box-sizing: border-box;
  margin-left: auto;
  width: fit-content;
}
