@import "../../../../../../constants";
@import "../../../../../../styles/sizes";

.modal {
  height: 90vh;

  .modalHeaderWrapper {
    padding: 0;

    .modalHeader {
      padding: 0;
    }
  }

  @include big-phone {
    height: 100vh;
  }
}

.headerTitleWrapper {
  display: flex;
  flex-direction: column;
}

.headerActionElement {
  font-size: $mobile-title;
  color: $c-gray-30;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
