.countdown-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  .inner-wrapper {
    width: 315px;
    height: 32px;
    border-radius: 6px;
    background-color: #fff3d8;
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
    .clock-icon {
      width: 15px;
      margin-right: 8px;
    }
    .text {
      font-family: NunitoSans;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #ffae26;
    }
  }
}
