@import "../../../../constants";
@import "../../../../styles/sizes";

.routes-wrapper {
  display: flex;
  flex-direction: column;
  a {
    cursor: pointer;
    border-radius: 0.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    padding-left: 2rem;
    color: $black;
    text-decoration: none;
    &.active {
      background-color: $light-gray-4;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
