/* */
$content-padding: 80px;
$content-padding-mobile: 20px;
$header-height: 80px;
$header-height-mobile: 60px;
$element-max-width: 1400px;
$element-max-height: 850px;

/* font sizes */
$xlarge: 46px;
$large: 35px;
$medium: 26px;
$moderate-med: 24px;
$moderate: 18px;
$small: 16px;
$xsmall: 14px;
$xxsmall: 12px;

/* colors */
$purple: #7786ff;
$purple-hover: #E4E7FF;
$purple-pressed: #D6DAFF;
$light-purple: rgba(117, 133, 255, 0.1);
$light-purple-background: #fbfcfc;
$white: #ffffff;
$pink: #ff5e9d;
$blue: #0b2046;
$deep-blue: #071836;
$blue-text: #0a2149;
$light-gray: #eeeeee;
$gray: #92a2b5;
$green: #6ee569;
$shadow: rgba(0, 0, 0, 0.14);
$black: #000000;
$red: #ff603e;

/* breakpoints */
$small-screen: 1240px;
$mobile-breakpoint: 770px;
$mobile-portrait: 375px;

/* */
$landing-page-animation-duration: 10s;
