
/* */
$content-padding: 80px;
$content-padding-mobile: 30px;
$footer-margin-top: 70px;

/* colors */
$purple: #7786ff;
$white: #ffffff;
$pink: #ff5e9d;
$blue: #0b2046;
$deep-blue: #071836;

/* others */
$mobile-breakpoint: 770px;