@import "./constants.scss";

@font-face {
  font-family: NotoSerifSC-Black;
  src: url(./shared/assets/fonts/NotoSerifSC-Black.otf);
}

@font-face {
  font-family: NunitoSans-Regular;
  src: url(./shared/assets/fonts/NunitoSans-Regular.ttf);
}

body {
  #root {
    overflow-x: hidden;
  }
  margin: 0;
  font-family: NunitoSans-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .content-wrapper {
    padding: 0 $content-padding;
    min-height: 350px;
    margin-top: 170px;

    .page-title {
      font-size: 36px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #001a36;
      margin: 0;
      padding: 0;
      margin-bottom: 40px;
      font-family: NunitoSans-Regular;
    }

    .button-blue {
      height: 40px;
      border-radius: 30.5px;
      background-color: $purple;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: $white;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        opacity: 0.9;
      }
      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .line {
      height: 1px;
      background-color: #eeeeee;
      width: 100%;
    }

    /* Remove inputs border highlight */
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }
  }
  h2,
  h1 {
    font-family: NotoSerifSC-Black;
  }
  textarea {
    font-family: NunitoSans-Regular;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
