@import "./constants.scss";

@font-face {
  font-family: NotoSerifSC-Black;
  src: url(./shared/assets/fonts/NotoSerifSC-Black.otf);
}

@font-face {
  font-family: NunitoSans-Regular;
  src: url(./shared/assets/fonts/NunitoSans-Regular.ttf);
}

body {
  #root {
    overflow-x: hidden;
  }
  margin: 0;
  font-family: NunitoSans-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .content-wrapper {
    padding: 0 $content-padding;
    min-height: 350px;
    margin-top: $header-height;

    .page-title {
      color: $deep-blue;
    }

    .button-blue {
      height: 40px;
      border-radius: 30.5px;
      background-color: $purple;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: $white;
      cursor: pointer;
      text-decoration: none;
      width: fit-content;
      min-width: 200px;
      &:hover {
        opacity: 0.9;
      }
      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .line {
      height: 1px;
      background-color: $light-gray;
      width: 100%;
    }

    /* Remove inputs border highlight */
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }
  }
  h1 {
    font-size: $large;
  }
  h2,
  h1 {
    font-family: NotoSerifSC-Black;
  }
  p {
    font-size: $moderate;
  }
  textarea {
    font-family: NunitoSans-Regular;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  body {
    h1 {
      font-size: $medium;
    }
    h2 {
      font-size: $medium;
    }
    .content-wrapper {
      padding: 0 $content-padding-mobile;
      margin-top: $header-height-mobile;
      .page-title {
        text-align: center;
      }
      .button-blue {
        width: 100%;
      }
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
