@import "../../../../../../../constants";
@import "../../../../../../../styles/sizes";

.container {
  position: relative;
  padding: 0 var(--content-ph);
  color: $c-neutrals-600;
}

.menuTransitionEnter {
  opacity: 0;
}
.menuTransitionEnterActive {
  opacity: 1;
  transition: opacity 200ms;
}
.menuTransitionExit {
  opacity: 1;
}
.menuTransitionExitActive {
  opacity: 0;
  transition: opacity 200ms;
}
