.projectsTree {
  padding: 1rem var(--sidenav-content-ph);
  box-sizing: border-box;
}

.loader {
  margin: 1rem auto 0;
}

.createCommonButtonWrapper {
  padding: 0 var(--sidenav-content-ph) 1rem;
}

.createCommonButton {
  width: 100%;
  margin: 0 auto;
}
