@import "../../../../../../constants";

.linkIcon {
  width: 1rem;
  height: 1rem;

  &:hover {
    color: $c-pink-next-dark;
  }
}

.tooltipContent {
  max-width: 20rem;
  z-index: 3;
}

.contentTitle {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  color: $c-gray-40;
}
