@import "../../../constants";

.container {
  --text-editor-border: 0.0625rem solid #{$c-neutrals-100};
  --text-editor-elements-margin: 0.5rem;
  --text-editor-elements-indent: 1.5rem;

  display: flex;
  flex-direction: column;
  border: var(--text-editor-border);
}
