@import "../../../../constants.scss";

.landing-wrapper {
  text-align: center;
  margin: -$content-padding; // to ignore parent content padding
  color: $blue-text;
  > section {
    padding: $content-padding;
    > span {
      margin-bottom: 30px;
    }
  }
  .landing-top {
    background-image: url("/assets/images/sea.jpg");
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    position: relative;
    justify-content: center;
    .info {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 50px;
      margin-bottom: 100px;
      position: relative;
      max-width: 80%;
      h1 {
        color: $white;
        text-align: left;
        .pink-text {
          color: $pink;
        }
      }
      .mobile-apps-wrapper {
        text-align: left;
        .available-on-label {
          color: white;
          margin-bottom: 10px;
        }
      }
      .iphone-image {
        position: absolute;
        right: 0;
        bottom: -250px;
        z-index: 1;
        width: 320px;
      }
    }
    .wave-top {
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translate(-50%);
      width: 105%;
    }
  }
  .illustrations-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .goal-wrapper {
    background: url("/assets/images/goal-wave-top.svg"), url("/assets/images/goal-wave-bottom.svg");
    background-position: 50% 0%, 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $light-purple;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    .purple-text {
      color: $purple;
    }
    .half-iphone {
      width: 400px;
      margin-right: 30px;
    }
  }
  .landing-bottom {
    background: url("/assets/images/wave-bottom.svg"), url("/assets/images/join.jpg");
    background-position: 50% -1%, 50% 0;
    background-size: contain, cover;
    background-repeat: no-repeat, repeat;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0; // to make the background more visible
  }
  h1 {
    font-size: $large;
  }
  p {
    font-size: $moderate;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .landing-wrapper {
    h1 {
      font-size: $medium;
    }
    .landing-top {
      flex-direction: column;
      .info {
        margin-left: unset;
        margin-bottom: unset;
        max-width: unset;
        .mobile-apps-wrapper {
          align-self: center;
          text-align: center;
        }
        .iphone-image {
          position: relative;
          bottom: -27px;
          left: 50%;
          transform: translate(-50%);
          width: 300px;
          z-index: 0;
        }
      }
    }
    > section {
      padding: $content-padding-mobile;
    }
    .illustrations-wrapper {
      flex-direction: column;
    }
    .goal-wrapper {
      margin-top: 50px;
      flex-direction: column-reverse;
      background: url("/assets/images/goal-wave-top.svg");
      background-position: 50% 0%;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: $light-purple;
      padding-bottom: 0;
      .half-iphone {
        margin-top: 30px;
        width: 350px;
      }
    }
  }
}
