@import "../../../../constants";

.container {
  flex-shrink: 0;
  width: 16.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  @media only screen and (max-width: $laptop-breakpoint) {
    margin: auto;
  }
}