@import "../../../../../constants";
@import "../../../../../styles/sizes";

.billing-payment-method-update-success {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billing-payment-method-update-success__image {
  width: 7.25rem;
  height: 7.25rem;
}

.billing-payment-method-update-success__title {
  margin: 1rem 0 3.75rem;
  font-family: NotoSerifSC, serif;
  font-size: $moderate-med;
  font-weight: bold;
  text-align: center;

  @include big-phone {
    margin: 1.5rem 0 2rem;
    font-family: NunitoSans, sans-serif;
    font-size: $moderate-small;
  }
}

.billing-payment-method-update-success__button {
  max-width: 11.25rem;

  @include big-phone {
    max-width: unset;
  }
}
