@import "../../../../../../constants";

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: $moderate-small-2;
}

.subtitle {
  font-size: $mobile-title;
  color: var(--gray-60);
}
