@import "../../../../../constants.scss";

.create-common-modal {
  color: $secondary-blue;

  .create-common-modal__title {
    margin: 0;
    font-family: NotoSerifSC-Bold, serif;
    font-size: $moderate-med;
    font-weight: bold;
    line-height: 1.32;
  }
}
