@import "../../../../../../../constants";
@import "../../../../../../../styles/sizes";

.funds-allocation-configuration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.funds-allocation-configuration__stage-name {
  margin-top: 0.75rem;

  @include big-phone {
    margin-top: 1.5rem;
  }
}

.funds-allocation-configuration__avatar-icon {
  flex-shrink: 0;
}

.funds-allocation-configuration__form {
  max-width: 36.5rem;
  width: 100%;
}

.create-funds-allocation__text-field {
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

.funds-allocation-configuration__modal-footer {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}
