@import "../../../../../../constants";

.itemsWrapper {
  position: fixed;
  right: 0;
  bottom: var(--safe-area-inset-bottom);
  left: 0;
  padding: 0 0.5rem;
}

.menuTransitionEnter {
  opacity: 0;
}
.menuTransitionEnterActive {
  opacity: 1;
  transition: opacity 200ms;
}
.menuTransitionExit {
  opacity: 1;
}
.menuTransitionExitActive {
  opacity: 0;
  transition: opacity 200ms;
}
