.rootCircleWrapper {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.dropdown {
  margin: 0 1rem;
}

.syncedWrapper {
  display: inherit;
  align-items: inherit;
}

.parentSpaceNameLabel {
  margin: 0 0.5rem;
}
