@import "../../../../../constants.scss";

.commons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .featured-commons {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px 0;
    padding: 10px;
  }
  .explore-commons {
    line-height: 40px;
    padding: 5px;
  }
}

@media only screen and (max-width: $small-screen) {
  .commons-wrapper {
    .featured-commons {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .commons-wrapper {
    .swiper-container {
      margin: 30px 0px;
      height: 270px;
      .swiper-slide {
        max-width: 300px;
      }
    }
  }
}
