@import "../../../../constants.scss";
@import "../../../../styles/sizes";

.container {
  width: 95%;
}

.message {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 25rem;
}

.messageCurrentUser {
  justify-content: flex-end;
}

.iconWrapper {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: $white;
  background-color: #4ce2f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;
  position: relative;
  margin-bottom: 8px;
  overflow: hidden;

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.messageText {
  padding: 0.5rem 1rem;
  border-radius: 0.875rem;
  background-color: $c-chat-message;
  flex-direction: row;
  width: 85%;
  box-sizing: border-box;
  position: relative;
  text-align: start;
}

.messageTextCurrentUser {
  background-color: $c-neutrals-200;
}

.messageName {
  font-size: $xsmall;
  font-weight: bold;
  color: $secondary-blue;
  margin-bottom: 0.5rem;
}

.messageContent {
  font-size: $small;
  color: $secondary-blue;
  word-wrap: break-word;
  white-space: pre-line;
}

.timeWrapperContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-top: 0.6875rem;
}

.timeWrapper {
  font-size: $xxxsmall;
  font-weight: bold;
  color: $light-gray-2;
  text-align: left;
}

.timeWrapperEdited {
  text-align: right;
}

.editedTimeWrapper {
  font-size: $xxsmall;
}

.creationTimeWrapper {
  align-self: flex-end;
  flex: 1;
}

.replyMessageContainer {
  padding: 0.375rem 1.125rem;
  background-color: #d2d8ff;
  margin-right: 2.5rem;
  margin-bottom: 0.3125rem;
  border-radius: 0.875rem;
  cursor: pointer; 

  .replyMessageContent {
    line-height: 1.5rem;
    max-height: 3rem;
    overflow: hidden;
  }
}

.dropdownMenu {
  position: absolute;
  top: 0;
  right: 0.5rem;
  z-index: unset;

  .custom-dropdown-wrapper__menu {
    z-index: $dropdown-z-index;
  }

  svg {
    color: $light-gray-2;
  }
}