@import "../../../../constants.scss";
@import "../../../../styles/sizes";

.container {
}

.message {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}

.messageCurrentUser {
  justify-content: flex-end;
}

.iconWrapper {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: $white;
  background-color: #4ce2f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;
  position: relative;
  margin-bottom: 8px;
  overflow: hidden;

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.messageText {
  padding: 0.5rem 0rem;
  border-radius: 0.875rem;
  background-color: $c-light-gray;
  flex-direction: row;
  max-width: 85%;
  min-width: 30%;
  box-sizing: border-box;
  position: relative;
  text-align: start;
}

.messageTextRtl {
  text-align: right;
  direction: rtl;
}

.messageTextCurrentUser {
  background-color: $c-pink-active-feed-cards;
}

.messageName {
  font-size: $xsmall;
  font-weight: bold;
  color: $secondary-blue;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.messageContent {
  font-size: $small;
  color: $secondary-blue;
  word-wrap: break-word;
  white-space: pre-line;
  margin-right: 1rem;
  margin-left: 1rem;
}

.messageContentCurrentUser {
  color: $white;
}

.timeWrapperContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-top: 0.6875rem;
}

.timeWrapper {
  font-size: $xxsmall-3;
  font-weight: 400;
  color: $light-gray-2;
  text-align: left;
}

.timeWrapperCurrentUser {
  color: $c-neutrals-100;
}

.timeWrapperEdited {
  text-align: right;
}

.editedTimeWrapper {
  font-size: $xxsmall;
}

.creationTimeWrapper {
  align-self: flex-end;
  flex: 1;
}

.replyMessageContainer {
  margin-bottom: 0.3125rem;
  cursor: pointer;
  border-bottom: 1px solid $c-neutrals-200;
  border-top: 1px solid $c-neutrals-200;
}

.replyMessageContainerCurrentUser {
  border-bottom: 1px solid $c-neutrals-100;
  border-top: 1px solid $c-neutrals-100;
}

.replyMessageName {
  font-size: $xxsmall;
  color: $c-neutrals-300;
  margin-bottom: 0.2rem;
  margin-top: 0.4rem;
}

.replyMessageNameCurrentUser {
  color: $c-neutrals-100;
}

.replyMessageContent {
  color: $c-neutrals-300;
  font-size: $xxsmall;
  margin-bottom: 0.4rem;
  line-height: 0.75rem;
  max-height: 1.5rem;
  overflow: hidden;
}

.replyMessageContentCurrentUser {
  color: $c-neutrals-100;
}

.dropdownMenu {
  position: absolute;
  top: 0;
  right: 0.5rem;
  z-index: unset;

  .custom-dropdown-wrapper__menu {
    z-index: $dropdown-z-index;
  }

  svg {
    color: $light-gray-2;
  }
}
