@import "../../../../../constants.scss";

.proposals-component-wrapper {
  .discussion-item-wrapper {
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 3px 8px 0 #001a3614;
    background-color: $white;
    margin-bottom: 24px;
    .state-wrapper {
      margin: -40px -40px 24px -40px;
      margin-bottom: 24px;
      .state-inner-wrapper {
        width: 100%;
        margin: 0;
        border-radius: 6px 6px 0 0;
        display: flex;
        margin-bottom: 24px;
        align-items: center;
        justify-content: center;
        height: 32px;
        img {
          width: 17px;
          height: 17px;
          margin-right: 4px;
        }
        .state-name {
          font-family: NunitoSans;
          font-size: 14px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
        }
      }
      &.passed {
        .state-inner-wrapper {
          background: #f0fdf0;
          .state-name {
            color: #6ee569;
          }
        }
      }
      &.failed {
        .state-inner-wrapper {
          background: #feefec;
          .state-name {
            color: #ff603e;
          }
        }
      }
    }
    .countdown-wrapper {
      margin: -40px -40px 24px -40px;
      margin-bottom: 24px;
      .inner-wrapper {
        width: 100%;
        margin: 0;
      }
    }
    .proposal-charts-wrapper {
      margin-bottom: 24px;
      .proposal-title {
        font-family: NunitoSans;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: center;
        color: #001a36;
        margin-bottom: 24px;
        cursor: pointer;
        &:hover {
          color: #7786ff;
        }
      }

      .requested-amount {
        padding: 12px;
        border-radius: 20px;
        background-color: $light-purple;
        font-size: $xsmall;
        display: flex;
        justify-content: center;
        .amount {
          font-family: NunitoSans;
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.22;
          letter-spacing: normal;
          color: #001a36;
          margin-left: 4px;
        }
      }
      .votes {
        margin-top: 24px;
        margin-bottom: 24px;
      }
    }

    .discussion-top-bar {
      display: flex;
      margin-bottom: 24px;
      .img-wrapper {
        margin-right: 16px;
        width: 40px;
        height: 40px;
        position: relative;
        img {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .creator-information {
        .name {
          font-family: NunitoSans;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #001a36;
        }
        .days-ago {
          font-family: NunitoSans;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #979bba;
        }
      }
    }
    .discussion-content {
      .title {
        font-family: NunitoSans;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        color: #7786ff;
        margin-bottom: 16px;
      }
      .description {
        font-family: NunitoSans;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #001a36;
        margin-bottom: 16px;
      }
      .read-more {
        font-family: NunitoSans;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #7786ff;
        cursor: pointer;
        margin-bottom: 16px;
        color: #001a36;
        &:hover {
          color: #7786ff;
        }
      }
      .line {
        margin: 0 -40px;
        width: auto;
      }
    }
    .bottom-content {
      margin-top: 20px;
      margin-bottom: -15px;
      display: flex;
      justify-content: space-between;
      .discussion-count {
        display: flex;
        .count {
          margin-left: 8px;
          font-family: NunitoSans;
          font-size: 16px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #979bba;
          display: inline-block;
        }
      }
      .view-all-discussions {
        font-family: NunitoSans;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: right;
        color: #7786ff;
        position: relative;
        padding-right: 15px;
        cursor: pointer;
        &::after {
          background-image: url("/icons/right-arrow-hover.svg");
          display: inline-block;
          content: " ";
          background-size: 16px 16px;
          height: 16px;
          width: 16px;
          top: 5px;
          position: absolute;
          right: -4px;
        }
      }
    }
  }
}
