@import "../../../../../../constants";
@import "../../../../../../styles/sizes";

.create-common-steps__modal-footer {
  display: flex;
  justify-content: center;
  padding: 28px 0;

  @include big-phone {
    padding: 24px 0;
  }
}
