@import "../../../../../constants.scss";
@import "../../../../../styles/sizes";

.proposal-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: normal;
    color: $secondary-blue;
    font-family: NunitoSans-Bold, sans-serif;
  }

  .add-button {
    display: flex;
    padding: 0.5rem 1.5rem;
    border-radius: 30.5px;
    background-color: $light-gray-7;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: $secondary-blue;
    cursor: pointer;
    width: 176px;
    align-items: center;
    justify-content: center;
    font-family: NunitoSans-Bold;

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}

.proposals-component-wrapper {
  .discussion-item-wrapper {
    position: relative;
    padding: 40px;
    padding-top: 0;
    border-radius: 14px;
    box-shadow: 0 3px 8px 0 #001a3614;
    background-color: $white;
    margin-bottom: 24px;
    padding-bottom: 20px;

    .state-wrapper {
      margin: 0 -40px;
      margin-bottom: 24px;

      .state-inner-wrapper {
        width: 100%;
        margin: 0;
        border-radius: 6px 6px 0 0;
        display: flex;
        margin-bottom: 24px;
        align-items: center;
        justify-content: center;
        height: 32px;

        img {
          width: 17px;
          height: 17px;
          margin-right: 4px;
        }

        .state-name {
          font-size: 14px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
        }
      }

      &.passed {
        .state-inner-wrapper {
          background: $light-green;

          .state-name {
            color: $green;
          }
        }
      }

      &.failed {
        .state-inner-wrapper {
          background: $light-red;

          .state-name {
            color: $red;
          }
        }
      }
    }

    .countdown-wrapper {
      margin: 0 -40px;
      margin-bottom: 24px;

      .inner-wrapper {
        width: 100%;
        margin: 0;
      }
    }

    .proposal-charts-wrapper {
      margin-bottom: 24px;

      .proposal-title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #001a36;
        margin-bottom: 24px;
        cursor: pointer;
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          color: #7786ff;
        }
      }

      .requested-amount {
        padding: 12px;
        border-radius: 20px;
        background-color: $light-purple;
        font-size: $xsmall;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        margin: auto;

        .amount {
          font-size: 18px;
          font-weight: bold;
          color: #001a36;
          margin-left: 4px;
        }
      }

      .votes {
        margin: 24px auto;
        max-width: 400px;
      }
    }

    .discussion-top-bar {
      display: flex;
      margin: 24px 0;

      .img-wrapper {
        margin-right: 16px;
        width: 40px;
        height: 40px;
        position: relative;

        img {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .creator-information {
        .name {
          font-size: 16px;
          color: #001a36;
        }

        .days-ago {
          font-size: 14px;
          color: $light-gray-2;
        }
      }
    }

    .discussion-content {
      .additional-information {
        .links {
          display: flex;
          flex-direction: column;

          a {
            color: $secondary-blue;
            margin-bottom: 1rem;
            vertical-align: middle;
            display: inline-block;
            font-size: 0.875rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: 0.018rem;
            text-align: left;

            &::before {
              background-image: url("/icons/link.svg");
              display: inline-block;
              content: " ";
              background-size: 0.938rem 0.938rem;
              height: 0.938rem;
              width: 0.938rem;
              margin-right: 0.5rem;
            }

            &:hover {
              color: $purple;
            }
          }
        }

        .images-wrapper {
          margin-bottom: 2rem;

          .images-list {
            display: flex;
            justify-content: space-around;

            .image-item {
              margin-right: 1rem;
            }

          }

          .image-item {

            &.swiper-slide {
              margin-bottom: 2rem;
              flex-shrink: 0 !important;
              text-align: center;
            }

            flex-shrink: initial !important;

            img {
              width: 20rem;
              height: 15.625rem;
              flex-grow: 0;
              border-radius: 0.625rem;
            }

            .image-title {
              font-size: 0.875rem;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.43;
              letter-spacing: 0.018rem;
              color: $light-gray-2;
              text-align: center;
            }
          }
        }
      }

      .title {
        font-size: 18px;
        font-weight: bold;
        color: #7786ff;
        margin-bottom: 16px;
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .description {
        font-size: 16px;
        color: #001a36;
        margin-bottom: 16px;
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;

        &.full {
          -webkit-line-clamp: unset;
          -webkit-box-orient: vertical;
          overflow: unset;
        }
      }

      .read-more {
        font-size: 16px;
        font-weight: bold;
        color: #7786ff;
        cursor: pointer;
        margin-bottom: 16px;
        color: #001a36;

        &:hover {
          color: #7786ff;
        }
      }
    }

    .bottom-content {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;

      .discussion-count {
        display: flex;

        .count {
          margin-left: 8px;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.5;
          color: $light-gray-2;
          display: inline-block;
        }
      }

      .view-all-discussions {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        text-align: right;
        color: #7786ff;
        position: relative;
        padding-right: 15px;
        cursor: pointer;

        &::after {
          background-image: url("/icons/right-arrow-hover.svg");
          display: inline-block;
          content: " ";
          background-size: 16px 16px;
          height: 16px;
          width: 16px;
          top: 5px;
          position: absolute;
          right: -4px;
        }
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
  }
}

@include big-phone {
  .proposal-title-wrapper {
    .add-button {
      position: fixed;
      right: 24px;
      bottom: 24px;
      z-index: 2;
      box-shadow: 0 0 6px 0 $fixed-button-shadow;
      background-color: $purple;
      width: 64px;
      height: 64px;
      min-width: unset;
      border-radius: 50%;
      padding: unset;

      span {
        display: none;
      }

      img {
        margin-right: unset;
        filter: invert(1);
      }
    }
  }

  .proposals-component-wrapper {
    .discussion-item-wrapper {
      padding: 20px;
      padding-top: 0;

      .state-wrapper {
        margin: 0 -20px;
      }

      .countdown-wrapper {
        margin-right: -20px;
        margin-left: -20px;
      }
    }
  }

  .proposals-component-wrapper {
    .discussion-item-wrapper {
      .discussion-content {
        .additional-information {
          .swiper-slide {
            &.image-item {
              flex-shrink: 0 !important;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@include small-laptop {

  .proposals-component-wrapper {
    .discussion-item-wrapper {
      .discussion-content {
        .additional-information {
          .images-wrapper {
            .image-item {
              img {
                width: 15rem;
                height: 10.625rem;
              }
            }


          }
        }
      }
    }
  }
}
