@import "../../../constants.scss";

.footer-wrapper {
  .footer-top {
    display: flex;
    padding: 30px 80px;
    background-color: $blue;
    justify-content: center;
    align-items: center;
    .logo {
      margin-right: auto;
      margin-bottom: auto;
      width: 100px;
    }
    .links {
      align-items: center;
      font-size: $xsmall;
      color: $purple;
      width: 100%;
      text-align: center;
      a {
        text-decoration: none;
        margin-right: 2.5rem;
        color: $purple;
      }
      a:last-child {
        margin-right: unset;
      }
    }
  }
  .footer-bottom {
    height: 80px;
    background-color: $deep-blue;
    padding: 10px;
    .powered-by {
      color: $white;
      font-size: 12px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      line-height: 30px;
      img {
        margin-right: 10px;
        margin-left: 10px;
        display: inline-block;
      }
    }
    .copyrights {
      color: $white;
      font-size: 12px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .footer-wrapper {
    .footer-top {
      flex-direction: column;
      align-items: center;
      .logo {
        margin-right: unset;
      }
      .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-items: center;
        margin-top: 20px;
        margin-right: unset;
        margin-left: unset;
        a {
          margin: 10px 15px;
        }
        a:last-child {
          margin: 10px 15px;
        }
      }
    }
  }
}
