@import "../../../../constants.scss";

.common-detail-wrapper {
  margin-bottom: -100px;
  padding-bottom: 50px;
  .main-information-block {
    background-color: $white;
    margin-bottom: 7px;
    .main-information-wrapper {
      .img-wrapper {
        height: 370px;
        position: relative;
        img {
          position: absolute;
          right: 0;
          bottom: 0;
          width: calc(100% + 4rem);
          transform: translateX(2rem);
          height: 100%;
          object-fit: fill;
          background-color: #0b2046;
        }
      }
      .text-information-wrapper {
        display: flex;
        margin-top: 32px;
        border-bottom: 1px solid $light-gray-1;
        padding-bottom: 30px;
        justify-content: space-between;
        .text {
          display: flex;
          justify-content: space-between;
          .name {
            font-size: $large;
            font-weight: 600;
            color: #001a36;
            font-family: NotoSerifSC-Black;
          }
          .tagline {
            font-size: 16px;
            color: #001a36;
            margin-top: 0.5rem;
          }
        }
        .numbers {
          display: flex;
          width: 50%;
          justify-content: space-between;
          .item {
            .name {
              font-size: 16px;
              text-align: center;
              color: #001a36;
              margin-top: 0.5rem;
            }
            .value {
              font-size: 23px;
              font-family: NunitoSans-Bold;
              color: #001a36;
              justify-content: center;
              align-items: center;
              display: flex;
              justify-content: center;
            }
          }
        }
      }

      .common-content-selector {
        display: flex;
        box-shadow: 0 3px 8px 0 #001a3614;
        margin: 0px -#{$content-padding};
        padding: 0px $content-padding;
        justify-content: space-between;
        .tabs-container {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .tabs-wrapper {
            display: flex;
            align-items: flex-end;
            padding-top: 30px;
            font-family: NunitoSans-Bold;
            .tab-item {
              font-weight: bold;
              color: $deep-blue;
              cursor: pointer;
              border-bottom: 4px solid;
              border-bottom-color: transparent;
              padding-bottom: 20px;
              margin-right: 3rem;
              &.active {
                border-bottom-color: $purple;
                color: $purple;
              }
              &:hover {
                color: $purple;
              }
            }
          }
        }
        .social-wrapper {
          display: flex;
          align-items: center;

          .join-the-effort-btn {
            margin-right: 10px;
          }
          .member-label {
            color: $purple;
            display: flex;
            align-items: center;
            margin-right: 1.5rem;
          }
        }
      }
    }
  }

  .main-content-container {
    margin-top: 50px;
    margin: 0px -#{$content-padding};
    background-color: $light-purple-background;
    padding: 70px 0;
    .inner-main-content-wrapper {
      display: flex;
      padding: 0px $content-padding;
      padding-bottom: 30px;
      //max-width: $element-max-width;
      //margin: auto;
      .tab-content-wrapper {
        margin-bottom: 20px;
        width: 60%;
        .about-title {
          font-family: NunitoSans-Bold;
          font-size: $moderate-med;
          font-weight: bold;
          color: $blue-text;
          padding-bottom: 20px;
        }
      }
      .sidebar-wrapper {
        width: 40%;
        padding-left: 80px;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .common-detail-wrapper {
    .main-information-block {
      .main-information-wrapper {
        .img-wrapper {
          margin: 0px -#{$content-padding-mobile};
        }
        .text-information-wrapper {
          border-bottom: none;
          flex-direction: column;
          .text {
            .name {
              font-size: $medium;
              margin-right: 15px;
            }
            .tagline {
              margin-bottom: 1.7rem;
            }
          }
          .numbers {
            width: 100%;
            justify-content: space-between;
            .item {
              .value {
                font-size: $moderate;
              }
              .name {
                margin-top: 0.3rem;
                font-size: $xxsmall;
              }
            }
          }
        }
        .common-content-selector {
          .tabs-container {
            flex-direction: column-reverse;
            align-items: center;
            margin: 0px -#{$content-padding-mobile};
            padding: 0px #{$content-padding-mobile};
            .tabs-wrapper {
              justify-content: space-between;
              width: 100%;
              .tab-item {
                margin-right: unset;
              }
            }
          }
          .social-wrapper {
            width: 100%;
            .join-the-effort-btn {
              height: 56px;
            }
          }
        }
      }
    }
    .main-content-container {
      margin: 0px -#{$content-padding-mobile};
      background-color: $light-purple-background;
      padding: 20px 0;
      .inner-main-content-wrapper {
        position: relative;
        flex-direction: column;
        padding: 0px $content-padding-mobile;
        &.history {
          flex-direction: column-reverse;
        }
        .tab-content-wrapper {
          width: unset;
          margin-bottom: 70px;
          .about-title {
            padding-bottom: 0px;
          }
        }
        .sidebar-wrapper {
          width: unset;
          padding-left: unset;
        }
        .join-the-effort-btn {
          height: 56px;
          &.sticky {
            position: fixed;
            z-index: 1;
            bottom: 30px;
            width: 90%;
            transform: translateX(-50%);
            margin-right: unset;
            left: 50%;
            &.footer-sticky {
              position: absolute;
              bottom: 25px;
            }
          }
        }
      }
    }
  }
}

.get-common-app-wrapper {
  background: url("/assets/images/purple-stains.svg") no-repeat center;
  background-size: cover;
  margin: -30px; // to compensate the modal padding
  display: flex;
  flex-direction: column;
  color: $white;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  height: 20rem;
  padding: 20px 15px;
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  .text {
    margin-bottom: auto;
  }
}
