@import "../../../../constants.scss";

.common-detail-wrapper {
  .main-information-block {
    background-color: #ffffff;
    height: 585px;
    margin: -70px -80px 80px;
    .main-information-wrapper {
      padding: 0 80px;
      .img-wrapper {
        height: 370px;
        position: relative;
        img {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: fill;
          background-color: #0b2046;
        }
      }
      .text-information-wrapper {
        display: flex;
        margin-top: 32px;
        border-bottom: 1px solid $light-gray;
        padding-bottom: 30px;
        .text,
        .numbers {
          flex: 50%;
        }
        .text {
          .name {
            font-size: 36px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: #001a36;
          }
          .tagline {
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #001a36;
          }
        }
        .numbers {
          display: flex;
          .item {
            flex: 25%;
            .name {
              font-size: 16px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              text-align: center;
              color: #001a36;
            }
            .value {
              font-size: 23px;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: 1;
              letter-spacing: normal;
              color: #001a36;
              height: 47px;
              justify-content: center;
              align-items: center;
              display: flex;
              justify-content: center;
            }
          }
        }
      }

      .common-content-selector {
        display: flex;
        box-shadow: 0 3px 8px 0 #001a3614;
        margin: 0px -#{$content-padding};
        padding: 0px $content-padding;
        .tabs-wrapper {
          display: flex;
          align-items: flex-end;
          padding-top: 30px;
          .tab-item {
            font-weight: bold;
            color: $deep-blue;
            cursor: pointer;
            border-bottom: 4px solid;
            border-bottom-color: transparent;
            padding-bottom: 20px;
            margin-right: 25px;
            &.active {
              border-bottom-color: $purple;
            }
          }
        }
        .social-wrapper {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }
  }

  .main-content-container {
    .tab-title {
      font-size: 24px;
      font-weight: bold;
      color: $deep-blue;
      text-transform: capitalize;
      margin-bottom: 24px;
    }
    .inner-main-content-wrapper {
      display: flex;
      .tab-content-wrapper {
        width: 60%;
      }
      .sidebar-wrapper {
        width: 40%;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .common-detail-wrapper {
    .main-information-block {
      .main-information-wrapper {
        .text-information-wrapper {
          border-bottom: none;
        }
        .common-content-selector {
          flex-direction: column-reverse;
          align-items: center;
          margin: 0px -#{$content-padding-mobile};
          padding: 0px #{$content-padding-mobile};
          .tabs-wrapper {
            justify-content: space-between;
            width: 100%;
            .tab-item {
              margin-right: unset;
            }
          }
        }
      }
    }
    .main-content-container {
      .inner-main-content-wrapper {
        flex-direction: column;
        .tab-content-wrapper {
          width: unset;
        }
        .sidebar-wrapper {
          width: unset;
        }
      }
    }
  }
}
