@import "../../../../constants.scss";

.common-detail-wrapper {
  margin-bottom: -100px;
  padding-bottom: 50px;
  .main-information-block {
    background-color: $white;
    margin-bottom: 7px;
    .main-information-wrapper {
      .img-wrapper {
        height: 370px;
        position: relative;
        img {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: fill;
          background-color: #0b2046;
        }
      }
      .text-information-wrapper {
        display: flex;
        margin-top: 32px;
        border-bottom: 1px solid $light-gray;
        padding-bottom: 30px;
        justify-content: space-between;
        .text {
          display: flex;
          justify-content: space-between;
          .name {
            font-size: $large;
            font-weight: 600;
            color: #001a36;
            font-family: NotoSerifSC-Black;
          }
          .tagline {
            font-size: 16px;
            color: #001a36;
          }
        }
        .numbers {
          display: flex;
          width: 50%;
          .item {
            flex: 25%;
            .name {
              font-size: 16px;
              text-align: center;
              color: #001a36;
            }
            .value {
              font-size: 23px;
              font-weight: bold;
              color: #001a36;
              height: 47px;
              justify-content: center;
              align-items: center;
              display: flex;
              justify-content: center;
            }
          }
        }
      }

      .common-content-selector {
        display: flex;
        box-shadow: 0 3px 8px 0 #001a3614;
        margin: 0px -#{$content-padding};
        padding: 0px $content-padding;
        justify-content: space-between;
        .tabs-wrapper {
          display: flex;
          align-items: flex-end;
          padding-top: 30px;
          .tab-item {
            font-weight: bold;
            color: $deep-blue;
            cursor: pointer;
            border-bottom: 4px solid;
            border-bottom-color: transparent;
            padding-bottom: 20px;
            margin-right: 25px;
            &.active {
              border-bottom-color: $purple;
              color: $purple;
            }
          }
        }
        .social-wrapper {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .main-content-container {
    margin-top: 50px;
    margin: 0px -#{$content-padding};
    background-color: $light-purple-background;
    padding-top: 20px;
    .inner-main-content-wrapper {
      display: flex;
      padding: 0px $content-padding;
      padding-bottom: 30px;
      .tab-content-wrapper {
        margin-bottom: 20px;
        width: 60%;
      }
      .sidebar-wrapper {
        width: 40%;
        padding-left: 80px;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .common-detail-wrapper {
    .main-information-block {
      .main-information-wrapper {
        .img-wrapper {
          margin: 0px -#{$content-padding-mobile};
        }
        .text-information-wrapper {
          border-bottom: none;
          flex-direction: column;
          .text {
            .name {
              font-size: $medium;
            }
          }
          .numbers {
            width: 100%;
            .item {
              .value {
                font-size: $small;
              }
            }
          }
        }
        .common-content-selector {
          flex-direction: column-reverse;
          align-items: center;
          margin: 0px -#{$content-padding-mobile};
          padding: 0px #{$content-padding-mobile};
          .tabs-wrapper {
            justify-content: space-between;
            width: 100%;
            .tab-item {
              margin-right: unset;
            }
          }
          .social-wrapper {
            width: 100%;
          }
        }
      }
    }
    .main-content-container {
      margin: 0px -#{$content-padding-mobile};
      background-color: $light-purple-background;
      padding-top: 20px;
      .inner-main-content-wrapper {
        flex-direction: column;
        padding: 0px $content-padding-mobile;
        &.history {
          flex-direction: column-reverse;
        }
        .tab-content-wrapper {
          width: unset;
          margin-bottom: 60px;
        }
        .sidebar-wrapper {
          width: unset;
          padding-left: unset;
        }
      }
    }
  }
}

.get-common-app-wrapper {
  background: url("/assets/images/purple-stains.svg") no-repeat center;
  background-size: cover;
  margin: -30px; // to compensate the modal padding
  display: flex;
  flex-direction: column;
  color: $white;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  height: 30vh;
  padding: 20px 15px;
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  .text {
    margin-bottom: auto;
  }
}
