@import "../../../../../constants";

.billing-adding-card {
  max-width: 20.625rem;
  width: 100%;
  padding: 1rem 1.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.875rem;
  background-color: $light-gray-4;
  box-sizing: border-box;

  .billing-adding-card__image {
    width: 3.5rem;
    height: 3.5rem;
  }

  .billing-adding-card__text {
    margin: 1rem 0;
    font-size: $xsmall;
    text-align: center;
  }

  .billing-adding-card__button {
    color: $purple;
    border-radius: 0.5rem;
  }
}
