@import "../../../../../../../constants";
@import "../../../../../../../styles/sizes";

.create-common-user-acknowledgment {
  width: 100%;
  max-width: 584px;
  margin: 0 auto;

  .create-common-user-acknowledgment__causes-link {
    display: inline-flex;
    align-items: center;
    font-weight: bold;

    @include big-phone {
      text-decoration: underline;
    }
  }
  .create-common-user-acknowledgment__causes-icon {
    margin-left: 4px;
  }
}

.create-common-user-acknowledgment__header-image {
  width: 116px;
  height: 116px;
  display: block;
  margin: 0 auto 24px;

  @include big-phone {
    max-width: 154px;
    width: 100%;
    max-height: 154px;
    height: 100%;
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.create-common-user-acknowledgment__modal-footer {
  //display: flex;
  //justify-content: center;
  //padding: 28px 0;
  //
  //@include big-phone {
  //  padding: 24px 0;
  //}
}
