@import "../../../../constants.scss";
@import "../../../../styles/sizes";

.chatWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: inherit;
  height: calc(100% - var(--chat-header-height, 0rem));
  background-color: var(--primary-background);
  box-sizing: border-box;
  --chat-input-wrapper-height: 3.125rem;
}

.messages {
  height: 100%;
  overflow: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column-reverse;
  padding: 0.5rem 2rem 0 2rem;
  margin-bottom: var(--chat-input-wrapper-height);

  @include big-phone {
    --chat-input-wrapper-height: 2.5rem;
    padding: 0.5rem 0.75rem 0 0.5rem;
  }
}

.emptyChat {
  display: flex;
  justify-content: center;
  align-self: center;
}

.bottomChatContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: var(--safe-area-inset-bottom);
  @include big-phone {
    position: fixed;
  }
}

.chatInputWrapper {
  display: flex;
  flex-shrink: 0;
  padding: 0 1.125rem;
  background-color: var(--primary-background);
  border: 0.0625rem solid var(--gentle-stroke);
  border-left-width: 0;
  border-right-width: 0;
  box-shadow: none;
  min-height: var(--chat-input-wrapper-height);
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
}

.chatInputWrapperMultiLine {
  align-items: flex-end;
}

.messageInput {
  width: 100%;
  min-height: 2.625rem;
  line-height: 1.5rem;
  border-radius: 1.25rem;
  background-color: var(--secondary-background);
  border: 0.0625rem solid var(--gentle-stroke);
  outline: none;
  resize: none;
  font-size: 0.875rem;
  color: var(--primary-text);
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: break-word;
  padding: 0.125rem 1.75rem 0.125rem 0.75rem;
  margin: 0.3rem 0;
}

.messageInputRtl {
  padding: 0.125rem 0.25rem 0.125rem 1.75rem;
}

.messageInputEmpty {
  line-height: 2.25rem;
  padding-left: 0.75rem;
  overflow-x: hidden;
}

.addFilesIcon {
  margin-bottom: 0.8rem;
  margin-right: 0.5rem;
  height: 1.5rem;
  color: var(--primary-text);
}

.sendIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
  border: none;
  outline: none;
  background: transparent;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
$phone-breakpoint: 415px;

.container {
  position: absolute;
  bottom: 50%;
  right: 0.5625rem;
  transform: translateY(50%);
  z-index: 10000;
}

.singleEmojiText {
  font-size: $xlarge;
  line-height: 2.8125rem;
}

.multipleEmojiText {
  font-size: $large;
  line-height: 2.125rem;
}

.mentionTextCurrentUser {
  color: $c-pink-mention-2;
  font-weight: 600;
}

.singleEmojiText {
  font-size: $xlarge;
}

.multipleEmojiText {
  font-size: $large;
}
