@import "../../../../constants.scss";
@import "../../../../styles/sizes";

.chat-wrapper {
  padding: 32px;
  width: 100%;
  padding-top: unset;
  background-color: $white;
  position: relative;
  box-sizing: border-box;

  .loader-container {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .bottom-chat-wrapper {
    padding: 16px 30px 16px 34px;
    background-color: $c-input-100;
    border: 0.0625rem solid $c-neutrals-100;
    border-left-width: 0;
    border-right-width: 0;
    box-shadow: none;
    width: 100%;
    margin: 0 -32px 0px;
    bottom: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    width: 100%;

    .text {
      font-size: 14px;
      color: $light-gray-2;
      margin-right: 5px;
      width: 100%;
      text-align: center;
    }

    .button-wrapper {
      display: flex;
      margin-left: 5px;

      .button-blue {
        height: 40px;
        padding: 8px 32px;
        border-radius: 30.5px;
        background-color: $purple;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: $white;
        cursor: pointer;
        text-decoration: none;
        margin-right: 10px;
        font-family: NunitoSans-Bold;

        &:hover {
          opacity: 0.9;
        }

        &:disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }

    .message-input {
      width: 100%;
      height: 3rem;
      padding: 0.75rem 1rem 0.5rem;
      border-radius: 20px;
      background-color: $light-gray-1;
      border: 0.0625rem solid $c-neutrals-200;
      outline: none;
      resize: none;
      font-size: 0.875rem;
      line-height: 1.43;
      color: $c-neutrals-600;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }

    .send {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      margin-left: 16px;
      border: none;
      outline: none;
      background: $c-input-100;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
  }

  .bottom-chat-wrapper__fixed {
    position: fixed;
    width: calc(100% - 9.25rem);
    left: 76px;
    margin-bottom: 0;

    @include tablet {
      width: calc(100% - 4rem);
      left: 0;
      margin-inline: 0px;
    }
  }

  .bottom-reply-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $white;
    margin: 0px -2rem;
    padding: 0.4375rem 2rem 0.625rem;

    .bottom-reply-message-container {
      width: 100%;
      background-color: $light-gray-4;
      border-radius: 0.875rem;
      padding: 0.4375rem 0.75rem;

      .bottom-reply-message-user-name {
        font-size: $xsmall;
        line-height: 1.25rem;
        font-weight: 700;
        margin-bottom: 0.125rem;
      }

      .bottom-reply-message-text {
        font-size: $small;
        line-height: 1.5rem;
        font-weight: 400;
        margin: 0;
      }
    }

    .bottom-reply-message-close-button {
      margin-left: 1.375rem;
    }
  }

  .bottom-reply-wrapper__fixed {
    position: fixed;
    bottom: 5.25rem;
    width: calc(100% - 9.25rem);
    left: 4.75rem;
    margin-bottom: 0;

    @include big-phone {
      width: calc(100% - 3.875rem);
      left: 0px;
      margin-inline: 0px;
    }
  }
}

@include big-phone {
  .chat-wrapper {
    .messages {
      .message-wrapper {
        .message {
          width: 100%;
        }
      }
    }
  }
}
