@import "../../../../../constants";
@import "../../../../../styles/sizes";

.login-error {
  font-family: NunitoSans, sans-serif;
  font-size: $xsmall;
  letter-spacing: 0.28px;
  text-align: center;
  color: #ff603e;
  width: 20.5rem;
  margin: 0.5rem 0 0;
  padding: 0.625rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #ffefec;
}
