@import "../../../../../constants";

.my-account-desktop-billing {
  min-height: 28.625rem;
  display: flex;
}

.my-account-desktop-billing__sections-wrapper {
  flex-shrink: 0;
  min-width: 20.625rem;
  margin-right: 2.5rem;
}

.my-account-desktop-billing__payment-info {
  margin-bottom: 2rem;
}

.my-account-desktop-billing__contributions-section-wrapper {
  position: relative;
  max-width: 43.625rem;
  width: 100%;
}

.my-account-desktop-billing__contributions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.my-account-desktop-billing__section-title {
  margin: 0 0 1rem;
  font-family: NunitoSans, sans-serif;
  font-size: $small;
  font-weight: 600;
}
