@import "../../../../../constants";

.my-account-desktop-billing__section {
  max-width: 20.625rem;
}

.my-account-desktop-billing__section-title {
  margin: 0 0 1rem;
  font-family: NunitoSans, sans-serif;
  font-size: $small;
  font-weight: 600;
}
