@import "../../../../../constants";

.my-account-desktop-billing {
  display: grid;
  gap: 2rem 2.5rem;
  grid-template-areas:
    "paymentInfo contributions"
    "bankAccount contributions";
  grid-template-columns: 20.625rem 1fr;
}

.my-account-desktop-billing__payment-info {
  grid-area: paymentInfo;
}
.my-account-desktop-billing__bank-account {
  grid-area: bankAccount;
}
.my-account-desktop-billing__contributions {
  grid-area: contributions;
}

.my-account-desktop-billing__section-title {
  margin: 0 0 1rem;
  font-family: NunitoSans, sans-serif;
  font-size: $small;
  font-weight: 600;
}
