@import "../../../../constants";
@import "../../../../styles/sizes";

.common-detail-wrapper {
  margin-bottom: -100px;
  padding-bottom: 50px;

  .main-information-block {
    background-color: $white;
    margin-bottom: 7px;

    .main-information-wrapper {
      .img-wrapper {
        height: 370px;
        position: relative;

        img {
          position: absolute;
          right: 0;
          bottom: 0;
          width: calc(100% + 4rem);
          transform: translateX(2rem);
          height: 100%;
          object-fit: cover;
          background-color: $blue;
        }
      }

      .text-information-wrapper {
        display: flex;
        margin-top: 32px;
        border-bottom: 1px solid $light-gray-1;
        padding-bottom: 30px;
        justify-content: space-between;

        .text {
          display: flex;
          justify-content: space-between;

          .name {
            font-size: $large;
            font-weight: 600;
            color: $secondary-blue;
            font-family: NotoSerifSC-Black;
            word-break: break-word;

          }

          .tagline {
            font-size: 16px;
            color: $secondary-blue;
            margin-top: 0.5rem;
          }
        }

        .numbers {
          display: flex;
          width: 50%;
          justify-content: space-between;

          .item {
            .name {
              font-size: 16px;
              text-align: center;
              color: #001a36;
              margin-top: 0.5rem;
            }

            .value {
              font-size: 23px;
              font-family: NunitoSans-Bold;
              color: #001a36;
              justify-content: center;
              align-items: center;
              display: flex;
              justify-content: center;
            }
          }
        }

        .text-information-wrapper__secondary-text {
          margin-top: 0.25rem;
          font-size: $xsmall;
          line-height: 1.42;
          color: $light-gray-2;
          text-align: center;

          @include big-phone {
            margin-top: 0;
            font-size: $xxsmall;
            line-height: 1.44;
          }
        }
      }

      .common-content-selector {
        display: flex;
        box-shadow: 0 3px 8px 0 #001a3614;
        margin: 0px -#{$content-padding};
        padding: 0px $content-padding;
        justify-content: space-between;

        .tabs-container {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .tabs-wrapper {
            display: flex;
            align-items: flex-end;
            padding-top: 30px;
            font-family: NunitoSans-Bold;

            .tab-item {
              font-weight: bold;
              color: $deep-blue;
              cursor: pointer;
              border-bottom: 4px solid;
              border-bottom-color: transparent;
              padding-bottom: 20px;
              margin-right: 3rem;

              &.active {
                border-bottom-color: $purple;
                color: $purple;
              }

              &:hover {
                color: $purple;
              }
            }
          }
        }

        .social-wrapper {
          display: flex;
          align-items: center;

          .common-actions-wrapper {
            position: relative;
            .add-action {
              display: flex;
              outline: none;
              border: none;
              padding: 0.25rem 1rem;
              border-radius: 1.875rem;
              background-color: var(--share-button-bg);
              align-items: center;
              cursor: pointer;
              margin-right: 1.3rem;
              font-family: NunitoSans;
              font-size: 1rem;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              text-align: center;
              color: $secondary-blue;
              width: 7.5rem;
              img{
                margin-right: 0.25rem;
              }
              &:after{
                content: url('/icons/chevron-up.svg');
                margin-left: 0.5rem;
                margin-top: 0.25rem;
              }
              &.opened{
                &:after{
                  transform: rotate(180deg);
                  margin-bottom: 0.5rem;
                }
              }
            }

            .common-actions{
              z-index: 10;
              position: absolute;
              background: white;
              border-radius: 12px;
              box-shadow: 0 4px 15px 0 $shadow;
              .add-button {
                &:first-child {
                  border-top-right-radius: 12px;
                  border-top-left-radius: 12px;
                }
                &:last-child {
                  border-bottom-right-radius: 12px;
                  border-bottom-left-radius: 12px;
                }
                cursor: pointer;
                box-sizing: border-box;
                display: flex;
                font-size: 1rem;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: $secondary-blue;
                cursor: pointer;
                font-family: NunitoSans-Bold;
                padding: 0.7rem;
                width: 200px;
                text-decoration: none;
                img {
                  width: 1.5rem;
                  height: 1.5rem;
                  margin-right: 0.5rem;
                }

                &:hover{
                  background-color: $purple-hover;
                }
              }
            }
          }

          .join-the-effort-btn {
            margin-right: 10px;
          }

          .member-label {
            color: $purple;
            display: flex;
            align-items: center;
            margin-right: 1.5rem;

            .member-label__icon {
              flex-shrink: 0;
              width: 12px;
              height: 12px;
              margin-right: 6px;
            }
          }
          .delete-common-btn {
            color: $red;
            margin: 0 0.3rem;
          }
        }
      }
    }
  }

  .main-content-container {
    margin-top: 50px;
    margin: 0px -#{$content-padding};
    background-color: $light-purple-background;
    padding: 70px 0;

    .inner-main-content-wrapper {
      display: flex;
      padding: 0px $content-padding;
      padding-bottom: 30px;
      //max-width: $element-max-width;
      //margin: auto;
      .tab-content-wrapper {
        margin-bottom: 20px;
        width: 60%;

        .about-title {
          font-family: NunitoSans-Bold;
          font-size: $moderate-med;
          font-weight: bold;
          color: $blue-text;
          padding-bottom: 20px;
        }
      }

      .sidebar-wrapper {
        width: 40%;
        padding-left: 80px;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .common-detail-wrapper {
    .main-information-block {
      .main-information-wrapper {
        .img-wrapper {
          margin: 0px -#{$content-padding-mobile};

          .default-image {
            width: 100%;
            transform: none;
            object-fit: contain;
          }
        }

        .text-information-wrapper {
          border-bottom: none;
          flex-direction: column;

          .text {
            .text-information-wrapper__info-wrapper {
              width: 100%;
            }

            .name {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              font-size: $medium;
            }

            .social-wrapper {
              align-self: unset;
            }

            .text-information-wrapper__connected-user-avatar-wrapper {
              position: relative;
              padding-top: .375rem;
              display: flex;
            }

            .text-information-wrapper__user-avatar {
              width: 1.75rem;
              height: 1.75rem;
            }

            .text-information-wrapper__connected-user-avatar-icon {
              position: absolute;
              right: 0;
              bottom: 0;
            }

            .tagline {
              margin-bottom: 1.7rem;
            }
          }

          .numbers {
            width: 100%;
            justify-content: space-between;

            .item {
              .value {
                font-size: $moderate;
              }

              .name {
                margin-top: 0.3rem;
                font-size: $xxsmall;
              }
            }
          }
        }

        .common-content-selector {
          .tabs-container {
            flex-direction: column-reverse;
            align-items: center;
            margin: 0px -#{$content-padding-mobile};
            padding: 0px #{$content-padding-mobile};

            .tabs-wrapper {
              justify-content: space-between;
              width: 100%;

              .tab-item {
                margin-right: unset;
              }
            }
          }

          .social-wrapper {
            width: 100%;

            .join-the-effort-btn {
              height: 56px;
              margin-right: unset;
            }
            .delete-common-btn {
              width: 100%;
              margin: 0.6rem 0;
            }
          }

          .common-content-selector__long-share-button {
            height: unset;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $moderate;
            color: $secondary-blue;
            background-color: #{$purple}26;
            box-sizing: border-box;
          }

          .common-content-selector__share-icon {
            margin-right: 1rem;
          }
        }
      }
    }

    .main-content-container {
      margin: 0px -#{$content-padding-mobile};
      background-color: $light-purple-background;
      padding: 20px 0;

      .inner-main-content-wrapper {
        position: relative;
        flex-direction: column;
        padding: 0px $content-padding-mobile;

        &.history {
          flex-direction: column-reverse;
        }

        .tab-content-wrapper {
          width: unset;
          margin-bottom: 70px;

          .about-title {
            padding-bottom: 0px;
          }
        }

        .sidebar-wrapper {
          width: unset;
          padding-left: unset;
        }

        .join-the-effort-btn {
          height: 56px;

          &.sticky {
            position: fixed;
            z-index: 1;
            bottom: 30px;
            width: 90%;
            transform: translateX(-50%);
            margin-right: unset;
            left: 50%;

            &.footer-sticky {
              position: absolute;
              bottom: 25px;
            }
          }
        }
      }
    }
  }
}

.common-detail-container__detail-modal-header-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
}

.common-detail-container__detail-modal--mobile {
  &.modal {
    max-width: 328px;
    width: 100%;
    max-height: 322px;
    height: 100%;
    border-radius: 20px;

    .common-detail-container__detail-modal-header-wrapper {
      padding-right: 16px;
    }

    .common-detail-container__detail-modal-header {
      min-height: 16px;
      padding-top: 16px;
    }

    .common-detail-container__detail-modal-close-wrapper {
      width: 16px;
      height: 16px;
    }

    .common-detail-container__detail-modal-content {
      padding: 0;
      background: url("/assets/images/purple-stains.svg") no-repeat top;
      background-size: auto 84%;
    }
  }
}

.get-common-app-wrapper {
  width: 100%;
  height: 100%;
  padding: 16px 16px 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  text-align: center;
  box-sizing: border-box;

  .logo {
    width: 100px;
    margin-bottom: 20px;
  }

  .text {
    margin-bottom: auto;
  }
}
