@import "../../../constants";
@import "../../../styles/sizes";

.container {
  margin-top: 2.125rem;
}

.content {
  display: inline-flex;
  align-items: center;
}

.mainContentContainer {
  position: relative;
  width: 100%;
  max-width: 28.25rem;
}

.mainContent {
  max-width: 28.25rem;
  width: 100%;
  max-height: 18.875rem;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.playButtonContainer {
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  box-shadow: 0 0.25rem 0.5rem $shadow-2;
}

.playButton {
  position: absolute;
  height: 2.0625rem;
  width: 2.25rem;
  left: calc(50% + 3px);
  top: 50%;
  transform: translate(-50%, -50%);
}

.imageContainer {
  display: flex;
  margin-top: 1rem;
}

.imageContainerSingleImage {
  margin-top: 0;
}

.image {
  flex-shrink: 0;
  max-width: 14rem;
  max-height: 13.125rem;
  border-radius: 0.25rem;
  object-fit: cover;
}

.singleImage {
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  max-height: 100% !important;
}

.leftItem {
  margin-right: 0.15625rem;
  margin-left: 0;
}

.rightItem {
  margin-left: 0.15625rem;
  margin-right: 0;
}


.seeAllGallery {
  font-size: $xsmall;
  line-height: 1.25rem;
  letter-spacing: 2%;
  color: $c-primary-400;
  text-decoration: underline;
  margin-top: 2rem;
}