@import "../../../../constants.scss";
@import "../../../../styles/sizes.scss";

.file-preview-compact-wrapper {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  img {
    border-radius: 14px;
    width: 160px;
    height: 160px;
  }
}

@include big-phone {
  .file-preview-compact-wrapper {
    margin: 5px 0;
  }
}
