@import "../../../../../../constants.scss";
@import "../../../../../../styles/sizes";

.add-bank-details-wrapper {
  display: flex;
  align-items: center;
  height: 40rem;
  flex-direction: column;

  .add-bank-details-title {
    font-family: NunitoSans-Bold, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: $secondary-blue;
    margin-top: -1.5rem;
  }

  .add-bank-details-description {
    margin-top: 2rem;
    font-size: 0.875rem;
    line-height: 1.43;
    text-align: center;
    color: $secondary-blue;
    padding-bottom: 1rem;
    border-bottom: 1px solid $light-gray-1;
    margin-bottom: 2rem;
  }

  .add-bank-details-form {
    width: 60%;
    .field {
      margin-bottom: 1.5rem;
    }
    .files-upload-wrapper {
      display: flex;
      justify-content: space-around;
      margin: 2rem 0;
    }
    .save-button {
      display: block;
      margin: auto;
      width: 11rem;
      margin-bottom: 1rem;
    }
    .error {
      color: $red;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

@include big-phone {
  .add-bank-details-wrapper {
    height: auto;
    width: 100%;
    .add-bank-details-form {
      width: 100%;
      .files-upload-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
      }
      .files-upload-wrapper__upload-button {
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
      .save-button {
        width: 100%;
      }
    }
  }
}
