@import "../../../../../../../constants";
@import "../../../../../../../styles/sizes";

.projectsTree {
  box-sizing: border-box;
}

.projectsTreeItemTriggerClassName {
  --item-pl-per-level: 1.25rem;
  --item-arrow-pl: 0.5rem;

  height: 3.375rem;
  border-radius: 0;

  &:hover {
    --bg-color: var(--hover-fill);
  }

  @include tablet {
    height: 4rem;
  }
}
.projectsTreeItemTriggerActiveClassName {
  --bg-color: #{$c-pink-active-feed-cards};
  color: $white;
  &:hover {
    --bg-color: #{$c-pink-active-feed-cards};
  }
}

.projectsTreeItemTriggerNameClassName {
  font-family: PoppinsSans, sans-serif;
  font-weight: 500;
}

.projectsTreeItemTriggerImageClassName {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.875rem;
}
.projectsTreeItemTriggerImageNonRoundedClassName {
  border-radius: 0.375rem;
}

.loader {
  margin: 1rem auto 0;
  display: block;
}

.createCommonButton {
  width: 100%;
  padding-left: 2.125rem;
  padding-right: 0.875rem;
}
