@import "../../constants";

.centerWrapper {
  flex: 1;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pureCommonTopNavigation {
  height: 3.25rem;
}

.openSidenavIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.625rem;
  transform: rotate(180deg);
  color: $c-neutrals-600;
}

.feedLayout {
  padding-bottom: calc(var(--layout-tabs-height) + 1.5rem);
}

.tabs {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: var(--safe-area-inset-bottom);
}

.chatInputLoaderWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatInputText {
  width: 100%;
  margin-right: 0.3125rem;
  font-size: 0.875rem;
  color: var(--primary-fill);
  text-align: center;
  cursor: pointer;
}
