@import "../../constants";
@import "../../styles/sizes";
@import "../../shared/layouts/MultipleSpacesLayout/styles";

.splitView {
  --split-view-top: calc(var(--header-h) + #{$page-content-header-height});

  padding-top: var(--split-view-top);
}

.desktopRightPane {
  top: var(--split-view-top);
}

.headerContentWrapper {
  display: none;

  @include tablet {
    height: 3.25rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 0.0625rem solid $c-light-gray;
    overflow: hidden;
    box-sizing: border-box;
  }
}
