@import "../../../../../../../../../constants";
@import "../../../../../../../../../styles/sizes";

.arrowIcon {
  margin-left: 1.5rem;
  transform: rotate(90deg);
  transition: rotate 0.3s;

  @include tablet {
    margin-left: auto;
    transform: unset;
    transition: unset;
    color: $c-shades-black;
  }
}

.menuTransitionEnter {
  opacity: 0;
}
.menuTransitionEnterActive {
  opacity: 1;
  transition: opacity 200ms;
}
.menuTransitionExit {
  opacity: 1;
}
.menuTransitionExitActive {
  opacity: 0;
  transition: opacity 200ms;
}
