@import "../../../../../../constants";
@import "../../../../../../styles/sizes";

.update-common-edit-steps__modal-title-wrapper {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .update-common-edit-steps__modal-title-dots {
    margin: 0.375rem 0;
  }

  .update-common-edit-steps__modal-title {
    margin: 0;
    font-family: NunitoSans-Bold, sans-serif;
    font-size: $small;
    font-weight: bold;
    line-height: 1.38;
    text-align: center;
    color: $secondary-blue;
  }

  @include big-phone {
    height: 4rem;
  }
}
