@import "../../../../constants";
@import "../../../../styles/sizes";

$vertical-view-breakpoint: 1000px;

.contact-us {
  flex: 1 0 auto;
  margin: 0px -#{$content-padding} -#{$content-padding-bottom};
  display: flex;
  flex-direction: column;
  color: $secondary-blue;

  @include big-phone {
    margin: 0px -#{$content-padding-mobile} -#{$content-padding-bottom};
  }
}

.contact-us__content {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include viewport-breakpoint($vertical-view-breakpoint) {
    grid-template-columns: 1fr;
  }
}
.contact-us__content--rtl {
  direction: rtl;
}
