@import "../../../../../constants.scss";

.votes-wrapper {
  width: 100%;
  .top-votes-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .for,
    .against {
      display: flex;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
      }
    }
    .against {
      font-size: 18px;
      font-weight: bold;
      text-align: right;
      color: #ff603e;
    }
    .for {
      font-size: 18px;
      font-weight: bold;
      text-align: right;
      color: #6ee569;
    }
    .count {
      font-size: 14px;
      text-align: center;
      color: #001a36;
    }
  }
  .progress {
    .for,
    .against {
      height: 8px;
      display: inline-block;
    }
    .for {
      background-color: #6ee569;
      border-radius: 100px 0px 0px 100px;

      // To create a white gap between the "for" and "against" bars.
      border-right: 0.125rem solid $white;
      box-sizing: border-box;
      &.rounded {
        border-radius: 100px;
      }
      &.no-border {
        border-right: unset;
      }
    }
    .against {
      background-color: #ff603e;
      border-radius: 0px 100px 100px 0px;
      &.rounded {
        border-radius: 100px;
      }
    }
    .gray-bar {
      height: 8px;
      display: inline-block;
      background-color: $light-gray;
      border-radius: 100px;
      width: 100%;
    }
  }
}
