@import "../../../../../constants";
@import "../../../../../styles/sizes";

.container {
  --sidenav-content-ph: 1.375rem;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include tablet {
    --sidenav-content-ph: 1.25rem;
  }
}

.commonLogoContainer {
  --logo-top-indent: 1.125rem;
  --logo-bottom-indent: 1.25rem;
  --logo-left-indent: 1.75rem;

  background-color: $c-light-gray-2;

  @include tablet {
    --logo-top-indent: 0;
    --logo-right-indent: 0;
    --logo-left-indent: 0;
    --logo-bottom-indent: 0;

    height: 3.25rem;
    align-items: center;
    background-color: $c-shades-white;
  }
}

.commonLogo {
  width: 6.875rem;
  height: 2.125rem;

  @include tablet {
    max-width: 6.125rem;
    height: 1.875rem;
  }
}

.separator {
  flex-shrink: 0;
  height: 0.0625rem;
  background-color: $c-neutrals-200;
}

.userInfoSeparator {
  @extend .separator;

  margin-top: auto;
}

.layoutTabs {
  margin-top: auto;
}

.userInfoContentButton {
  padding: 1rem 0;

  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }
}

.userInfoAvatar {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.875rem;
}

.userInfoName {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.userInfoRightArrowIcon {
  margin-left: auto;
}
