/* */
$content-padding: 80px;
$content-padding-mobile: 20px;
$header-height: 80px;
$header-height-mobile: 60px;
$element-max-width: 1400px;
$element-max-height: 850px;

/* font sizes */
$xlarge: 46px;
$large: 35px;
$medium: 26px;
$moderate-med: 24px;
$moderate-small: 20px;
$moderate: 18px;
$small: 16px;
$xsmall: 14px;
$xxsmall: 12px;

/* colors */
$purple: #7786ff;
$purple-2: #5666f5;
$purple-hover: #e4e7ff;
$purple-pressed: #d6daff;
$light-purple: #f1f2ff;
$light-purple-background: #fbfcfc;
$white: #ffffff;
$white-2: #fcfaf9;
$pink: #ff5e9d;
$blue: #0b2046;
$blue-2: #4f5c69;
$secondary-blue: #001a36;
$deep-blue: #071836;
$blue-text: #0a2149;
$light-gray-1: #eeeeee;
$light-gray-2: #979bba;
$light-gray-3: #d5d5e4;
$light-gray-4: #f4f6ff;
$light-gray-5: #f8f9f9;
$light-gray-6: #f3f4f5;
$gray: #92a2b5;
$green: #6ee569;
$secondary-green: #f1fdf0;
$shadow: rgba(0, 0, 0, 0.14);
$black: #000000;
$black-gray: rgba(0, 0, 0, 0.5);
$black-gray-2: rgba(0, 0, 0, 0.15);
$black-gray-3: rgba(119, 134, 255, 0.1);
$red: #ff603e;
$error: #ef5456;
$fixed-button-shadow: rgba(0, 26, 54, .14);
$fixed-modal-element-shadow: rgba(0, 26, 54, .07);
$fixed-modal-shadow: rgba(0, 26, 54, 0.2);
$invoice-description-card-shadow: rgba(0, 26, 54, .08);
$blue-button-disabled-second-option:#d5dee4;
$secondary-modal-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.3);

/* breakpoints */
$small-screen: 1240px;
$mobile-breakpoint: 770px;
$mobile-portrait: 375px;

/* */
$landing-page-animation-duration: 10s;
