@import "../../../../constants";
@import "../../../../styles/sizes";

.buttonIcon {
  background-color: transparent;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--primary-fill);
    }
  }
}

.unreadFilterActive {
  background-color: var(--highlight);
  color: $white;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--primary-fill);
    }
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: inherit;
}
