@import "../../../../../../constants";

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: $c-shades-white;
  border-left: 0.0625rem solid $c-neutrals-200;
}

.titleWrapper {
  height: 4.5625rem;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  background-color: $c-light-gray-2;
  border-bottom: 0.0625rem solid $c-neutrals-200;
  box-sizing: border-box;
}
.title {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: $mobile-title;
  line-height: 120%;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}
.titleRTL {
  text-align: right;
  direction: rtl;
}
