@import "../../../../constants";
@import "../../../../styles/sizes";

.my-account-billing {
  .my-account-billing__header {
    height: 4.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;

    @include big-phone {
      margin-bottom: 0;
    }
  }
}
