@import "../../../../constants";

.container {
  --feed-card-ph: 1.5rem;

  padding: 0;
  display: flex;
  flex-direction: column;
  color: $c-neutrals-600;
}
.containerActive {
  border: 0.0625rem solid $c-neutrals-300;
}
