@import "../../../../../../../constants";
@import "../../../../../../../styles/sizes";

$payment-iframe-height: 26.5rem;
$payment-iframe-height-mobile: 42rem;

.create-common-contribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 29.125rem;
  max-width: 36.5rem;
  margin: 0 auto;

  .create-common-contribution__sub-title {
    font-weight: bold;
    font-family: NunitoSans-Bold, sans-serif;
    margin-bottom: 0.2rem;
  }

  .create-common-contribution__sub-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 36.5rem;
    width: 100%;
    border-bottom: 1px solid $light-gray-1;
    padding-bottom: 1.5rem;
  }

  .create-common-contribution__sub-text-item {
    text-align: center;
    font-size: $xsmall;
    max-width: 23.7rem;
    color: $light-gray-2;
  }

  .create-common-contribution__sub-text-item:nth-child(1) {
    margin-bottom: 1.5rem;
  }

  .create-common-contribution__sub-text-item--bold {
    font-weight: bold
  }

  @include big-phone {
    min-height: unset;
  }
}

.create-common-contribution__hint {
  margin: 1rem 0 .625rem;
  font-size: $xsmall;
  line-height: 1.42;
  text-align: center;
  color: $blue-2;
}

.create-common-contribution__submit-button {
  display: flex;
  justify-content: center;
  padding-bottom: 1.75rem;
  max-width: 36.5rem;
  margin: 0 auto;
  @include big-phone {
    padding-bottom: 1.75rem;
  }
}
