@import "../../../../../../constants";
@import "../../../../../../styles/sizes";

.dead-sea-payment-details {
  display: flex;
  flex-direction: column;
}

.dead-sea-payment-details__info-block {
  margin-bottom: 2.5rem;
  padding: 1.375rem;
  display: grid;
  grid-template-columns: auto auto;
  background-color: $light-gray-4;
  border: 1px solid $light-gray-1;
  border-radius: 0.5rem;
}

.dead-sea-payment-details__info-title {
  margin: 0;
  font-family: NunitoSans, sans-serif;
  font-weight: bold;
  font-size: $moderate-small;
  line-height: 120%;
}

.dead-sea-payment-details__info-amount {
  @extend .dead-sea-payment-details__info-title;

  text-align: right;
}

.dead-sea-payment-details__info-hint {
  font-size: $xsmall;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: $light-gray-2;
}

.dead-sea-payment-details__edit-amount-button {
  justify-self: flex-end;
}

.dead-sea-payment-details__pay-button {
  max-width: 12.625rem;
  margin-top: 1.5rem;
}
